/// Brand colors
$color-primary: hsl(216, 80%, 52%) !default;
$primary: var(--primary);

$color-secondary: hsl(199, 98%, 48%) !default;
$secondary: var(--secondary);

$color-accent: hsl(340, 80%, 50%) !default;
$accent: var(--accent);

/// Grey colors
$color-dark: hsl(220, 38%, 22%) !default;
$dark: var(--dark);

$color-grey: dark(20) !default;
$grey: var(--grey);

$color-light: dark(3);
$light: var(--light);

/// Status colors
$color-info: hsl(199, 98%, 48%) !default;
$info: var(--info);

$color-success: hsl(172, 92%, 36%) !default;
$success: var(--success);

$color-warning: hsl(36, 100%, 50%) !default;
$warning: var(--warning);

$color-error: $color-accent !default;
$error: var(--error);

/// Additional
$highlight: aliceblue !default;
$selection-bg-color: dark(60);

$base-colors: (
  primary: var(--primary),
  secondary: var(--secondary),
  info: var(--info),
  accent: var(--accent),
  success: var(--success),
  warning: var(--warning),
  error: var(--error),
  grey: var(--grey),
  dark: var(--dark),
  // dark-10: dark(10),
  // dark-20: dark(20),
  // dark-30: dark(30),
  // dark-40: dark(40),
  // dark-50: dark(50),
  // dark-60: dark(60),
  // dark-70: dark(70),
  // dark-80: dark(80),
  // dark-90: dark(90)
);

$base-colors-keys: (
  primary: $color-primary,
  secondary: $color-secondary,
  info: $color-info,
  accent: $color-accent,
  success: $color-success,
  warning: $color-warning,
  error: $color-error,
  grey: $color-grey,
  dark: $color-dark
);
