/// App spaces
$out: 3rem !default;
$gut: 2rem !default;
$pad: 1rem !default;

/// Spaces between
$base-spaces: (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem
);
