/// Fonts

// -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$def-font-base: system-ui, sans-serif !default;
$def-font-code: 'SF Mono', Monaco, Menlo, Courier, monospace !default;

.mac {
  // --font-base: BlinkMacSystemFont, sans-serif;
  --font-code: 'SF Mono', Monaco, Menlo, Courier, monospace;
}

.win {
  // --font-base: Arial, sans-serif;
  --font-code: Consolas, 'Courier New', monospace;
}

.linux {
  // --font-base: Arial, sans-serif;
  --font-code: 'Ubuntu Mono', 'Liberation Mono', 'DejaVu Sans Mono',
    'Courier New', monospace;
}

$font-base: var(--font-base);
$font-code: var(--font-code);
