/// Base controls
$control-height: 2.5rem !default;
$control-box-size: 0.875rem !default;
$control-padding: 0.5rem 0.875rem !default;
$control-padding-x: 0.75rem !default;
$control-background: tint($color-light, 60%);
$control-border-color: $grey !default;
$control-border: 1px solid $control-border-color;
$control-radius: 0.125rem !default;
$control-shadow-top: inset 0 1px 0 0 hsla(0, 0%, 0%, 0.15);
$control-shadow-bottom: inset 0 -1px 0 0 hsla(0, 0%, 0%, 0.15);
$control-shadow-inset: inset 0 1px 2px hsla(0, 0%, 0%, 0.1);
$control-placeholder-color: $grey !default;

/**
 * Mixin for element inside label
 * radio, checkbox, switcher
 */
%control-element {
  position: absolute;
  z-index: 1;
  content: '';
  top: 50%;
  left: 50%;
  width: $control-box-size;
  height: $control-box-size;
  transform: translate(-50%, -50%);
  transition: 0.15s;
  cursor: pointer;
}
