<template>
  <div :class="[$style.alert, $style[type]]">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Alert',
  props: {
    type: {
      type: String,
      default: 'info'
    }
  }
}
</script>

<style lang="scss" module>
.alert {
  padding: 1rem 2rem;
}

.info {
  border: 1px solid rgb(0, 183, 255);
}

.error {
  border: 1px solid rgb(255, 0, 170);
}
</style>
