<template>
  <div class="section">
    <slot v-bind="{ handleMountComponent }" />
    <!-- <Button @click="handleMountComponent">
      Показать
    </Button> -->
  </div>
</template>

<script>
export default {
  name: 'ModalExample',
  props: {
    data: {
      type: Object,
      default: undefined
    }
  },
  methods: {
    handleMountComponent() {
      const Component = () => import('~/components/ModalExampleComponent')
      this.$modal.render(Component, {
        componentProps: {
          prop1: 'Prop 1...',
          prop2: 'Prop 2...'
        },
        modalProps: {
          title: 'Динамическое монтирование (передача компонента)',
          width: '40rem'
        }
      })
    }
  }
}
</script>

<style scoped>
.section {
  border: 1px dotted rgb(216, 141, 141);
  padding: 1rem;
}
</style>
