<script>
export default {
  name: 'ModalExampleComponent',
  props: {
    prop1: {
      type: String,
      default: undefined
    },
    prop2: {
      type: String,
      default: undefined
    }
  },
  data() {
    return { ...this.$attrs }
  },
  render() {
    return (
      <section>
        <b>
          Пропсы, переданные в компонент, который отрендерился в модальном
          окне...
        </b>
        <pre>
          {this.prop1} {this.prop2}
        </pre>
      </section>
    )
  }
}
</script>

<style scoped>
section {
  border: 1px dotted red;
  background-color: #f2f2f2;
  padding: 2rem;
}
</style>
