<template>
  <section>
    <Input v-model="query" type="search" placeholder="Поиск поназванию" />

    <div class="grid">
      <div
        v-for="icon in filteredItems"
        :key="icon"
        class="cell"
        @click="handleCopy(icon)"
      >
        <Icon :name="icon" size="sm" color="secondary" />
        <Icon :name="icon" />
        <Icon :name="icon" size="lg" color="primary" />
        <span>{{ icon }}</span>
      </div>
    </div>
  </section>
</template>

<script>
import icons from '@ozon-erp/ui-lib/icons'
import copy from '@ozon-erp/ui-lib/utils/copy'

export default {
  name: 'StoryIcons',
  data: () => ({
    icons,
    query: ''
  }),
  computed: {
    filteredItems() {
      return this.icons.filter(name => name.includes(this.query))
    }
  },
  methods: {
    handleCopy(icon) {
      copy(`<Icon name="${icon}" />`)
      this.$message.success('Скопировано в буфер')
    }
  }
}
</script>

<style lang="scss" scoped>
.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin: 1rem auto;
}

.cell {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: $shadow;
  cursor: pointer;

  * + * {
    margin-top: 1rem;
  }

  // span {
  //   color: $primary;
  // }
}
</style>
