<template>
  <main>
    <h1>ERP FE KIT Sandbox and Stories</h1>
    <div class="flex space-x-8">
      <NuxtLink to="/sandbox" class="link">
        Sandbox
      </NuxtLink>
      <NuxtLink to="/stories/ru/todo" class="link">
        TODO
      </NuxtLink>
      <NuxtLink to="/stories/ru/intro" class="link">
        Зачем?
      </NuxtLink>
    </div>
  </main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
main {
  // width: 100vw;
  height: 100vh;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  color: white;
}

.link {
  display: inline-flex;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: $radius;
  font-size: 1.5rem;
  text-decoration: none;
}
</style>
