<template>
  <section class="breadcrumbs">
    <ol itemscope itemtype="//schema.org/BreadcrumbList">
      <li
        v-for="(item, idx) in breadcrumbs"
        :key="idx"
        itemprop="itemListElement"
        itemscope
        itemtype="//schema.org/ListItem"
      >
        <nuxt-link
          v-if="idx !== breadcrumbs.length - 1"
          :to="item.link"
          itemtype="//schema.org/Thing"
          itemprop="item"
        >
          <span itemprop="name">{{ item.text }}</span>
          <meta itemprop="position" :content="idx + 1" />
        </nuxt-link>
        <span v-else itemtype="//schema.org/Thing" itemprop="item">
          <span itemprop="name">{{ item.text }}</span>
          <meta itemprop="position" :content="idx + 1" />
        </span>
      </li>
    </ol>
  </section>
</template>

<script>
// Pass when plugin install
const pages = {}

export default {
  pages,
  name: 'BreadCrumbs',
  beforeCreate() {
    const route = this.$route
    const rpath = route.path.split('/').filter(p => p)
    const rname = route.name.split('/')

    const breadcrumbs = [{ link: '/', text: 'Главная' }]

    rpath.forEach((p, i) => {
      const text = pages[rname.slice(0, i + 1).join('/')]
      const link = '/' + rpath.slice(0, i + 1).join('/')
      breadcrumbs.push({ link, text })
    })

    this.breadcrumbs = breadcrumbs
  }
}
</script>

<style lang="scss" scoped>
// @import '../assets/_config';

.breadcrumbs {
  margin-bottom: 1rem;
}

ol {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;

  & + ::before {
    content: '/';
    color: $grey;
    display: inline-block;
    margin: 0 0.5rem;
  }
}

a {
  color: $medium;
}

li:last-child {
  color: $dark;
  cursor: initial;
}

a:hover {
  color: $primary;
}
</style>
