<script>
export default {
  name: 'Box',
  props: {},
  render() {
    return <section class="box space-y-4">{this.$slots.default}</section>
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
