.box {
  margin: 2rem -1rem;
  padding: 1.5rem 2rem;
  background: hsl(0, 0%, 100%);
  // background: ivory;
  border-top: $border;
  border-bottom: $border;
  border-top-style: dotted;
  border-bottom-style: dotted;
  // border-radius: $radius;
  // box-shadow: $shadow-inset, $shadow-long;

  // > * + * {
  //   margin-top: 1rem;
  // }

  // > :first-child {
  //   margin-top: 0;
  // }

  // > :last-child {
  //   margin-bottom: 0;
  // }
}
