<template>
  <div class="message-item" :class="item.type">
    <Icon name="info-outline" class="label" />

    <!-- eslint-disable-next-line vue/no-v-html -->
    <div class="text" v-html="item.content" />

    <button v-if="!item.delay" class="close" @click="handleClick">
      <Icon name="close" />
    </button>
  </div>
</template>

<script>
import Icon from '../Icon'

export default {
  name: 'Message',
  components: { Icon },

  props: {
    item: {
      type: Object,
      default: () => ({})
    }
  },

  mounted() {
    const { delay } = this.item

    if (delay) {
      const timeout = setTimeout(() => {
        this.handleClick()
        clearTimeout(timeout)
      }, delay)
    }
  },

  methods: {
    handleClick() {
      this.$emit('click', this.item)

      if (this.item.onClose) {
        this.item.onClose()
      }
    }
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
