<template>
  <div class="message-wrapper">
    <transition-group tag="div" name="message" class="message-list">
      <MessageItem
        v-for="item in list"
        :key="item.id"
        v-bind="{ item }"
        @click="remove"
      />
    </transition-group>
  </div>
</template>

<script>
import MessageItem from './MessageItem.vue'

export default {
  name: 'Message',
  components: { MessageItem },

  props: {
    delay: {
      type: Number,
      default: 3000
    },
    order: {
      type: String,
      default: 'asc'
    }
  },

  data: () => ({
    count: 0,
    list: []
  }),

  methods: {
    add(type, data) {
      const content = data?.content ? data.content : data
      const delay = data?.delay || data?.delay === 0 ? data.delay : this.delay
      const onClose = data?.onClose ? { onClose: data.onClose } : undefined
      const item = { id: this.count++, type, content, delay, ...onClose }

      // добавляет в конец списка
      if (this.order === 'asc') {
        this.list.push(item)
      }
      // добавляет в начало списка
      else {
        this.list.unshift(item)
      }
    },
    remove(item) {
      this.list.splice(this.list.indexOf(item), 1)
    },

    // Common Vue.prototype methods
    info(data) {
      this.add('info', data)
    },
    warning(data) {
      this.add('warn', data)
    },
    error(data) {
      this.add('error', data)
    },
    success(data) {
      this.add('success', data)
    }
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
