.message-list {
  position: fixed;
  z-index: 1000;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 42rem;
  word-break: break-all;
  margin: 0;
  padding: 0;
}

.message-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 0.75rem;
  border: 1px solid $grey;
  border-radius: $radius;
  box-shadow: $shadow;
  background: hsl(0, 0%, 100%);
  user-select: none;

  & + & {
    margin-top: 0.25rem;
  }

  &.info {
    color: $info;
    // border-color: $info;
  }

  &.error {
    color: $accent;
    // border-color: $accent;
  }

  &.success {
    color: $success;
    // border-color: $success;
  }

  &.warn {
    color: $warning;
    // border-color: $warning;
  }
}

.label {
  flex: 0 0 18px;
}

.close {
  @extend %button;
  line-height: 0;
  color: $dark;
}

.text {
  flex: 1;
  margin: 0 1rem;
  color: $dark;
}

/** Transitions */
.message-enter-active,
.message-leave-active,
.message-move {
  transition-timing-function: cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

/* appearing */
.message-enter-active {
  transition-duration: 250ms;
}

/* disappearing */
.message-leave-active {
  transition-duration: 150ms;
}

.message-move {
  transition-duration: 250ms;
}

.message-enter,
.message-leave-to {
  opacity: 0;
  transform: translateY(-2rem);
}
