<script>
export default {
  name: 'Icon',
  props: {
    name: {
      type: String,
      required: true
    },
    size: {
      type: String,
      default: undefined
    },
    title: {
      type: String,
      default: undefined
    }
  },
  render() {
    const { name, size, title, $attrs } = this

    return (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon"
        size={size}
        {...{ $attrs }}
      >
        {title && <title>{title}</title>}
        <use xlinkHref={`#${name}`}></use>
      </svg>
    )
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
