.icon {
  fill: currentColor;
}

[size='xs'] {
  height: 14px;
  width: 14px;
}

[size='sm'] {
  height: 16px;
  width: 16px;
}

:not([size]) {
  height: 20px;
  width: 20px;
}

[size='lg'] {
  height: 24px;
  width: 24px;
}

[size='xl'] {
  height: 32px;
  width: 32px;
}

[size='xxl'] {
  height: 48px;
  width: 48px;
}
