pre,
kbd,
samp {
  font-weight: normal;
  font-family: $font-code;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.5;
}

pre {
  white-space: -moz-pre-wrap !important;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: block;
  overflow-x: auto;
}

* + pre {
  margin: 1rem auto;
}

code {
  display: inline-block;
  padding: 0 0.25em;
}
