/**
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

// h5 {
//   font-size: 1.125rem;
// }

// h6 {
//   font-size: 1rem;
// }
