// бикубическое изменение размеров для IMG с не-нативными размерами
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

// Эластичные изображения
img {
  // width: 100%; // разрешаем увеличение
  max-width: 100%; // запрещаем увеличение
  height: auto;
  // width: auto\9; // ie8
  /* Remove white space below image */
  vertical-align: bottom;
}

svg {
  height: 100%;
  vertical-align: bottom;
}
