a {
  color: $primary;
  // text-decoration: none;
  // text-decoration-skip-ink: auto;
  // text-decoration-color: $secondary;
  transition: none;

  &:hover {
    color: $primary;
  }
}

::-moz-selection {
  background: $selection-bg-color;
  color: hsl(0, 0%, 100%);
  text-shadow: none;
}

::selection {
  background: $selection-bg-color;
  color: hsl(0, 0%, 100%);
  text-shadow: none;
}
