/*
 * LISTS
 ====================================================
 */

.list {
  // outline: 1px solid red;
  margin: 1rem 3.5rem;
  // display: inline-block;
  li + li {
    margin: 0.5rem 0;
  }

  li > ul,
  li > ol {
    // outline: 1px solid blue;
    margin-bottom: 2rem;
  }
}

ul.list {
  list-style: disc outside;
}

ol.list {
  list-style: decimal inside;
}

ul.list {
  ul {
    list-style-type: circle;
    margin-top: 0.5rem;

    ul {
      list-style-type: square;
    }
  }
}

.list.-dash {
  list-style: none;
  margin-left: 2rem;

  li::before {
    content: '—';
    position: absolute;
    margin-left: -1.25rem;
    opacity: 0.5;
  }
}

// rewrite
// .list ~ h2, .list ~ h3, .list ~ h4 {
// h2 ~ .list, h3 ~.list, h4 ~.list {
//     margin-top: 0.5rem;
// }
