table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  vertical-align: middle;
  // table-layout: fixed;
  background: white;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

caption,
th,
td {
  text-align: left;
  vertical-align: middle;
}

// if tbody wrapped is-scroll
// thead::after {
//   display: block;
//   content: "";
//   height: 0.5rem;
// }
// tr {
//   position: relative;
// }

tr:not(:last-child) {
  border-bottom: 1px solid $grey;

  &:hover {
    background: $highlight;
  }
}

td,
th {
  padding: 0.5rem 0.75rem;
}

th {
  background: white;
  font-weight: normal;
  font-variant: all-small-caps;
  border-bottom: 2px solid $primary;
}

td {
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // overflow: hidden;

  &:nth-child(odd) {
    background: hsla(0, 0%, 0%, 0.025);
  }
}
