/**
 * Typografy
 */

big {
  font-size: inherit;
}

p {
  hyphens: auto;
  margin: 1em 0;
}

small {
  font-size: 0.75rem;
  display: inline-block;
}

b,
strong {
  font-weight: 600;
}

blockquote {
  display: block;
  margin: 1rem auto;
  padding: 0.75rem 1.5rem;
  background: hsl(0, 0%, 100%);
  border-left: 2px solid $secondary;
  border-radius: $radius;

  > * {
    margin: 0;
  }

  > * + * {
    margin-top: inherit;
  }
}

hr {
  border: 0;
  margin: 0.5rem auto;
}
