<template>
  <form class="host" @submit.prevent>
    <button
      ref="dropbox"
      :size="size"
      :class="classNames"
      :multiple="multiple"
      :aria-label="label"
      @click="handleAdd"
    >
      <Icon :name="icon" :size="size" />
      <span class="label">
        {{ isLoading ? 'Обработка...' : hasError ? 'Есть ошибки' : label }}
      </span>
    </button>

    <input ref="input" type="file" :accept="formats" @change="handleAttach" />
  </form>
</template>

<script>
import Icon from '../Icon'
import CommonUpload from './commonUpload'
export default {
  name: 'ButtonUpload',
  extends: CommonUpload,
  props: {
    label: {
      type: String,
      default: 'Выбрать файл',
    },
    color: {
      type: String,
      default: undefined,
    },
    fill: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
      default: 'sm',
    },
    icon: {
      type: String,
      default: 'upload',
    },
    onAttach: {
      type: Function,
      default: () => {
        throw Error
      },
      required: true,
    },
  },
  data() {
    return { isLoading: false, hasError: false }
  },
  mounted() {
    console.log(this, 'this')
  },
  computed: {
    classNames() {
      const { isLoading, hasError, color, isAccept, fill, icon } = this
      const currentColor = isLoading
        ? 'warning'
        : hasError || !isAccept
        ? 'error'
        : color

      return [
        'c-btn has-label',
        currentColor,
        { '-fill': fill },
        { '-icon': icon },
        { 'in-progress': isLoading && !hasError },
      ]
    },
  },
  methods: {
    handleAdd() {
      this.$emit('reset')
      this.$refs.input.click()
    },
    async handleAppendFiles(files) {
      if (!files) return

      if (this.multiple) {
        for (const file of files) {
          this.files.push(file)
        }
      } else {
        this.files = [files[0]]
      }

      this.isLoading = true

      const formData = new FormData()
      formData.append('file', this.multiple ? files : files[0])

      try {
        await this.onAttach(formData)
        this.hasError = false
        this.$message.success('Файл отправлен')
      } catch (error) {
        this.hasError = true
        this.$message.error(`Ошибки при проверке`)
        setTimeout(() => this.handleReset(), 5000)
      }

      this.isLoading = false
    },
    handleReset() {
      this.files = []
      this.hasError = false
      this.$el.reset()
    },
  },
}
</script>
<style lang="scss" src="./styles.scss" scoped></style>
<style lang="scss" src="./button.scss" scoped></style>
