/** Resets */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  @extend %button;
  border-radius: $radius-sm;
}

/** Styles */
.c-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: $control-border;
  background-color: #fff;
  font-size: 1rem;
  font-family: $font-base;
  white-space: nowrap;

  /** кнопка с текстом */
  &.has-label {
    padding: 0.375em 1em;
    min-width: 5em;
  }

  /** кнопка без текста, только иконка */
  &:not(.has-label) {
    background: #fff;
    // width: 2em;
    // height: 2em;

    .icon {
      margin: 0.1875rem;
    }
  }

  /** States */
  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.96);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  }

  /** Colours */
  @each $k, $v in $base-colors {
    // цветной текст без иконки
    &.#{$k}:not(.-icon) {
      color: $v;
    }

    // цветной фон с белым текстом
    &.#{$k}.-fill {
      color: #fff;
      border-color: $v;
      background: $v;

      // иконка тоже белая
      .icon {
        color: #fff;
      }
    }

    // иконуа цветная, а текст черный
    &.#{$k} .icon {
      color: $v;
    }
  }
}

/** Icon spec */
.icon {
  color: $secondary;
}

.has-label .icon {
  margin: 0 0.375em 0 -0.375em;
}

/** Decorations */
.-circle {
  border-radius: 1.25em;
}

.-ghost {
  background-color: transparent;
}

.-block {
  width: 100%;
}

/** Sizes */
.has-label {
  &[size='xxs'] {
    font-size: 0.6875rem;
    padding: 0.25em 0.75em;
  }

  &[size='xs'] {
    font-size: 0.75rem;
  }

  &[size='sm'] {
    font-size: 0.875rem;
  }

  &[size='lg'] {
    font-size: 1.125rem;

    // фикс, чтобы не растопыривало кнопку по высоте
    .icon {
      margin-top: -2px;
      margin-bottom: -2px;
    }
  }
}

/** States */
[disabled] {
  pointer-events: none;
  user-select: none;
  cursor: default;
}

:not(.is-loading)[disabled] {
  opacity: 0.5;
  background-color: dark(10);
  color: $dark;
}

.is-loading[disabled] {
  background-color: dark(4);
  border-color: dark(20);
}

.is-loading {
  pointer-events: none;
  color: transparent;

  svg {
    fill: transparent;
  }

  &::before {
    animation: rotate 500ms infinite linear;
    will-change: transform;
    border: 2px solid $secondary;
    border-radius: 290486px;
    border-color: transparent transparent $secondary $secondary;
    position: absolute;
    z-index: 2;
    display: block;
    content: '';
    top: 50%;
    left: 50%;
    height: 1rem;
    width: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
