<template>
  <form @submit.prevent>
    <div
      ref="dropbox"
      class="file-choose"
      :class="{ 'not-accept': !isAccept }"
      :multiple="multiple"
      @click="handleAdd"
    >
      <template v-if="!isAccept">
        <Icon name="info-outline" color="error" />
        <span>Недопустимый формат файла. Разрешены только {{ accept }}.</span>
        <b>Выберите другой...</b>
      </template>

      <template v-else>
        <div v-if="files.length" class="files">
          <div
            v-for="(file, idx) in files.slice(0, 3)"
            :key="`file-${idx}`"
            :title="file.name"
            class="file"
          >
            <span class="name">{{ file.name }}</span>
            <Icon
              name="cancel"
              color="hsla(220, 37%, 22%, 0.65)"
              @click.native.stop="handleRemove(file)"
            />
          </div>

          <div v-if="files.length > 3" class="-nowrap">
            ...еще {{ files.length - 3 }}
          </div>
        </div>

        <b v-else>Выберите файл...</b>
      </template>
    </div>

    <input
      ref="input"
      type="file"
      :multiple="multiple"
      :accept="formats"
      @change="handleAttach"
    />
  </form>
</template>

<script>
import Icon from '../Icon'
import CommonUpload from './commonUpload'

export default {
  name: 'DragndropUpload',
  components: {
    Icon,
  },
  extends: CommonUpload,

  mounted() {
    const events = ['dragover', 'dragenter', 'drop']
    events.forEach(event => {
      this.$refs.dropbox.addEventListener(
        event,
        e => {
          e.preventDefault()
          e.stopPropagation()
        },
        false
      )
    })

    this.$refs.dropbox.addEventListener('drop', e => {
      this.handleValidate(e.dataTransfer.files)
    })
  },
  methods: {
    handleAdd() {
      this.$refs.input.click()
    },
    handleRemove(file) {
      this.files.splice(this.files.indexOf(file), 1)
      if (!this.files.length) this.handleReset()
    },
    handleAppendFiles(files) {
      if (!files) return
      if (this.multiple) {
        for (const file of files) {
          this.files.push(file)
        }
      } else {
        this.files = [files[0]]
      }
      this.$emit('attach', this.multiple ? files : files[0])
    },
    handleReset() {
      this.$el.reset()
    },
  },
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
<style lang="scss" src="./dragndrop.scss" scoped></style>
