<template>
  <component v-bind="$attrs" :is="currentComponent"></component>
</template>

<script>
import DragndropUpload from './dragndropUpload'
import ButtonUpload from './buttonUpload'

export default {
  props: {
    isButton: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    DragndropUpload,
    ButtonUpload,
  },
  computed: {
    currentComponent() {
      return this.isButton ? ButtonUpload : DragndropUpload
    },
  },
}
</script>