<template>
  <div class="wrapper">
    <div v-for="(item, idx) in dataList" :key="idx" @click="clickItem(item)">
      {{ item.label }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dataList: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    clickItem(item) {
      this.$emit('click-item', item)
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  position: absolute;
  max-height: 10rem;
  padding: 0.5rem;
  overflow: scroll;
  border: 1px solid $grey;
  border-radius: $radius-sm;
  background: #ffffff;
  > div {
    cursor: pointer;
    margin-top: 0.1rem;
    &:hover {
      color: $primary;
    }
  }
}
</style>