/* Reset */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  // line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Remove the inheritance of text transform in Edge and Firefox.
  * 1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  text-transform: none; /* 1 */
}

/** Disable default appearanses for styling */
button,
select,
input,
[type='checkbox'],
[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/**
  * Disable ios safari zoom
  * 1. Set font-size: 16px !important;
   or
  * 2. Set `<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">`

 /** Correct the inability to style clickable types in iOS and Safari. */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  -webkit-tap-highlight-color: transparent;
  // https://htmlhook.ru/property-touch-action.html
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
}

/** Remove the inner border and padding in Firefox. */
select::-moz-focus-inner,
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/** Restore the focus styles unset by the previous rule. */
select:-moz-focusring,
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  // outline: 1px dotted ButtonText;
  color: transparent;
  text-shadow: 0 0 0 $dark;
}

/** Remove ios border-radius */
input,
textarea {
  // -webkit-appearance: none;
  border-radius: 0;
}

/** Add the correct vertical alignment in Chrome and Firefox. */
progress {
  vertical-align: baseline;
}

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/** Remove the inner padding in Chrome and Safari on macOS. */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/** Resets and base settings */
::placeholder {
  color: $grey;
}

/** Autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

/**
  * Focus
  * @uses focus-visible polyfill
  */

// /** Provide basic, default focus styles. */
// :focus {
//   border: 0 none;
//   outline: 0 none;
//   transition: inherit !important;
// }

// /**
//  * Remove default focus styles for mouse users ONLY if
//  * :focus-visible is supported on this platform.
//  */

// /*
//   Define a strong focus indicator for keyboard focus.
//   If you choose to skip this step then the browser's default focus
//   indicator will be displayed instead.
// */
// :focus-visible {
//   box-shadow: 0 0 0 1px lightskyblue;
// }

// /*
//   This will hide the focus indicator if the element receives focus via the mouse,
//   but it will still show up on keyboard focus.
// */
// :focus:not(:focus-visible) {
//   box-shadow: none;
// }

// /* hide focus style if not from keyboard navigation */
// :focus-visible:active {
//   box-shadow: none;
// }

/**
 * Disabled
 */
[disabled],
[disabled]::before,
[disabled]::after {
  opacity: 0.65;
  pointer-events: none;
  cursor: not-allowed !important;
}
