/**
 * Radio
 */
.radio {
  // border: 1px solid blue;
  display: inline-block;
  flex: 1;
  width: 100%;
  margin-bottom: 0;

  input {
    top: 0.25rem;
    margin-right: $control-box-size/2;
    padding: 0;

    /** RoR specific... */
    width: $control-box-size;
    height: $control-box-size;
    border-radius: 50%;

    &::before {
      @extend %control-element;
      background-color: white;
      // border: $control-border;
      border: 1px solid $grey;
      border-radius: 50%;
    }

    &::after {
      @extend %control-element;
      width: $control-box-size/3.5;
      height: $control-box-size/3.5;
      border-radius: 50%;
    }

    &:checked::before {
      border-color: $grey;
      background-color: $grey;
    }

    &:checked::after {
      background-color: white;
    }

    &:focus {
      outline: none;

      &::before {
        @extend %control-focus;
        border-color: transparent;
      }
    }
  }
  // every next after first...
  // ~ .radio {
  //   margin-bottom: 0;
  // }
}

/**
 * Radio Set
 */
// .radio-btn {
//   // @extend .button;
//   border: 1px solid;
//   display: inline-flex;
//   padding: $control-padding/2;
//   text-align: center;
//   cursor: pointer;
//   input {
//     display: none;
//     &:checked + span {
//       color: hsl(0, 0%, 100%);
//     }
//     &:checked + span:before {
//       background: $grey;
//     }
//   }
// }
