.toggle {
  --height: 20px;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  // input + * {
  //   margin-left: 1rem;
  // }

  input {
    position: relative;
    // z-index: 1;
    // opacity: 0;
    padding: 0;
    width: calc(1.625 * var(--height));
    height: var(--height);
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: calc(var(--height) - 2px);
      border-radius: calc((var(--height) - 2px) / 2);
      transition: 0.233s;
    }

    &::before {
      width: calc(1.625 * var(--height) - 2px);
      background-color: $grey;
    }

    &::after {
      width: calc(var(--height) - 2px);
      background-color: hsl(0, 0%, 100%);
      // box-shadow: 0 0 0 1px $grey;
      border: 2px solid $grey;
    }

    &:checked {
      &::before {
        border-color: $secondary;
        background-color: $secondary;
      }

      &::after {
        border-color: $secondary;
        transform: translateX(calc(0.625 * var(--height)));
      }
    }
  }
}
