/// Stylize checkboxes
// @uses label for wrapper

.checkbox {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  & + & {
    margin-left: 2rem;
  }
}

.checkbox input {
  position: relative;
  margin: 0;
  padding: 0;
  width: $control-box-size;
  height: $control-box-size;
  flex-shrink: 0;

  &:not([hidden]) + * {
    margin-left: 0.5rem;
  }

  &::before {
    @extend %control-element;
    border: $control-border;
    border-radius: $control-radius;
    background-color: hsl(0, 0%, 100%);
    width: 16px;
    height: 16px;
  }

  &::after {
    cursor: pointer;
  }

  &:not(:disabled):checked::before {
    border-color: $primary;
    background-color: $primary;
  }

  &:not(:disabled):checked::after {
    position: absolute;
    z-index: 1;
    content: '';
    top: 46%;
    left: 52%;
    width: 0.375em;
    height: 0.6875em;
    border: solid hsl(0, 0%, 100%);
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:not(:disabled):indeterminate::before {
    border-color: $primary;
    background-color: $primary;
  }

  &:not(:disabled):indeterminate::after {
    position: absolute;
    z-index: 1;
    content: '';
    top: 50%;
    left: 50%;
    width: 0.625em;
    height: 2px;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
  }

  &:disabled::before {
    background-color: $grey;
  }

  &.focus-visible {
    outline-offset: -1px;
  }
}
