/// Form <input>

// /// Resets
// input:not([type='checkbox']):not([type='radio']):not([type='submit']) {
//   border-radius: $radius-sm;
// }

// /// Correct the cursor style of increment and decrement buttons in Chrome.
// [type='number']::-webkit-inner-spin-button,
// [type='number']::-webkit-outer-spin-button {
//   height: auto;
// }

// // 1. Correct the odd appearance in Chrome and Safari.
// // 2. Correct the outline style in Safari.
// [type='search'] {
//   -webkit-appearance: textfield; // 1
//   outline-offset: -2px; // 2
// }

// /// Remove the inner padding in Chrome and Safari on macOS.
// [type='search']::-webkit-search-decoration {
//   -webkit-appearance: none;
// }

// /// Autofill
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   box-shadow: 0 0 0 30px white inset !important;
// }

// /// Resets and base settings
// ::placeholder {
//   color: dark(35);
// }
