<template>
  <div class="taglist-host">
    <div v-if="list.length" class="taglist">
      <div v-for="tag in list" :key="tag.value" class="tag">
        <span class="label">{{ tag.label }}</span>
        <label class="close" @click.stop>
          <input v-model="model" :value="tag.value" type="checkbox" hidden />
          <span>&times;</span>
        </label>
      </div>
    </div>

    <span v-else class="placeholder">{{ placeholder }}</span>
  </div>
</template>

<script>
import mixin from '../../mixins/mixin-v-model'

export default {
  name: 'TagList',

  mixins: [mixin],

  props: {
    datalist: {
      type: Array,
      default: () => []
    },
    placeholder: {
      type: String,
      default: 'Выберите...'
    }
  },

  computed: {
    list() {
      const list = []
      const getOptions = options => {
        for (const { label, value, children } of options) {
          if (this.model.some(item => item === value)) {
            list.push({ label, value })
          }
          if (children && children.length > 0) {
            getOptions(children)
          }
        }
        return list
      }
      return getOptions(this.datalist)
    }
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
