/// Wrapper
.taglist-host {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $grey;
}

/// Placeholder
.placeholder {
  padding: 0 $control-padding-x;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/// Tags
.taglist {
  @extend %truncate;
  padding-left: 0.25rem;
}

.tag {
  display: inline-flex;
  align-items: center;
  height: 1.5rem;
  margin: 0.25rem 0.25rem 0.25rem 0;
  padding: 0 0.5em;
  background-color: dark(6);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.05);
  color: $dark;
  cursor: pointer;
  user-select: none;

  &:hover {
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.2);
  }
}

.label {
  @extend %truncate;
  hyphens: none;
  max-width: 4rem;
  font-size: 0.75rem;
}

.close {
  margin-left: 0.25rem;
  cursor: pointer;
}
