// https://sass-guidelin.es/ru/

/// Include prism editor and theme
@import 'prism-editor.scss';
@import 'prism-theme.scss';

/// Extend layout
body {
  background: $light;
  color: $dark;
  font-size: 14px;
  line-height: 1.4;
}

.dark-mode {
  body {
    background: $dark-mode-color-dark;
    color: $grey;
  }

  a {
    color: $color-secondary !important;
  }

  table {
    background: hsla(0, 0%, 100%, 0.1);

    th {
      background: $dark-mode-color-dark;
    }
  }
}

pre > code {
  @extend %editor;
}

/// Stories layout
.docs-header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: $aside-width - 2rem auto $aside-width - 2rem;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: $primary;
}

.brand-heading {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: $grey;

  sup {
    margin-top: -0.375em;
    margin-left: 0.75rem;
    font-size: 0.75rem;
    text-transform: none;
    opacity: 0.65;
  }
}

.docs-search {
  flex: 1;
  color: #fff;
  background-color: hsla(0, 0%, 100%, 0.15);
  border: none;
  padding: 0 1rem;

  &:focus {
    background-color: hsla(0, 0%, 100%, 0.8);
    color: $dark;
  }
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background: svg(
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>'
  );
}

.docs-container {
  display: grid;
  grid-template-columns: $aside-width auto $aside-width;
  padding-top: 3rem;
  padding-bottom: 5rem;
  min-height: 100vh;
}

.docs-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

// .docs-main {
//   font-size: 0.9375rem;
// }

.docs-nav-sidebar {
  border-right: $border;
  outline-offset: -1px;
  max-height: calc(100vh - 5rem);
  overflow-y: auto;
  position: sticky;
  top: 3rem;
}

.docs-toc-sidebar {
  border-left: $border;
}

.docs-footer {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 2rem;
  bottom: 0;
  border-top: $border;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.75rem;
  color: dark(40);

  > * {
    display: flex;
    align-items: center;
  }
}
