/**
 * App config
 * Тут можно переопредилить константы библиотечного конфига
 */

/// Brand colors
$color-light: hsl(208, 25%, 97%);
// $color-grey: dark(14);

$selection-bg-color: rgba($color-primary, 0.65);

/// Dark mode
$dark-mode-color-dark: shade($color-dark, 30);

/// Stories config
$aside-width: 14rem;
$color-subheading: shade($color-primary, 20);
