$editor-bg-color: hsl(220, 39%, 26%);

%editor {
  display: block;
  background-color: $editor-bg-color;
  padding: 0.75rem 1rem;
  font-family: $font-code;
  font-size: 0.875rem;
  line-height: 1.5;
  color: dark(12);
  max-height: 24em;
  overflow: auto;
}
