code[class*='language-'],
pre[class*='language-'] {
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

code[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
pre[class*='language-']::-moz-selection {
  text-shadow: none;
  background: rgba(44, 99, 143, 0.99);
}

code[class*='language-'] ::selection,
code[class*='language-']::selection,
pre[class*='language-'] ::selection,
pre[class*='language-']::selection {
  text-shadow: none;
  background: rgba(44, 99, 143, 0.99);
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

:not(pre) > code {
  padding: 0.125em 0.5em;
  border-radius: 0.125em;
  white-space: normal;
  background: rgba($color-primary, 0.05);
}

.token.cdata,
.token.comment,
.token.prolog {
  color: #a69eaa;
  font-style: italic;
}

.token.punctuation {
  color: #c792ea;
}

.namespace {
  color: #b2ccd6;
}

.token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.token.property,
.token.symbol {
  color: #80cbc4;
}

.token.keyword,
.token.operator,
.token.tag {
  color: #7fdbca;
}

.token.boolean {
  color: #ff5874;
}

.token.number {
  color: #f78c6c;
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: #99b7f8;
}

.token.doctype,
.token.selector {
  color: #c792ea;
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: #b4e9a4;
  font-style: italic;
}

.token.entity,
.token.string,
.language-css .token.string,
.style .token.string,
.token.url {
  color: #9ffdc9;
}

.token.atrule,
.token.attr-value,
.token.class-name {
  color: #ffd9aa;
}

.token.important,
.token.regex,
.token.variable {
  color: #d6deeb;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}
