.prism-editor-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  overflow: auto;
  tab-size: 1.5em;
  -moz-tab-size: 1.5em;
}

// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//   .prism-editor__textarea {
//     background-color: transparent !important;
//     color: transparent !important;
//   }

//   .prism-editor__textarea::selection {
//     background: #accef7 !important;
//     // background-color: transparent !important;
//     color: #fff !important;
//   }
// }

.prism-editor__container {
  position: relative;
  text-align: left;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.prism-editor__line-numbers {
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  padding-top: 4px;
  margin-top: 0;
  margin-right: 10px;
}

.prism-editor__line-number {
  text-align: right;
  white-space: nowrap;
}

.prism-editor__textarea,
.prism-editor__editor {
  @extend %editor;
  margin: 0;
  border: 0;
}

.prism-editor__textarea {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  resize: none;
  color: inherit;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: transparent;
  background: none;
}

.prism-editor__textarea::selection {
  color: transparent !important;
  -webkit-text-fill-color: #fff;
}

.prism-editor__textarea:focus {
  outline: none;
}

.prism-editor__textarea--empty {
  -webkit-text-fill-color: inherit !important;
}

/* highlight */
.prism-editor__editor {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
