.docs-article {
  .toc-target {
    background-color: $light;
    @at-root .dark-mode & {
      background-color: $dark-mode-color-dark;
    }
    position: sticky;
    top: 3rem;
    z-index: 10;
    padding: 0.5rem 0;

    // &:target {
    //   margin-bottom: 3rem;
    // }
  }

  > h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  > h2 {
    margin-top: 2rem;
  }

  > * + * {
    margin-top: 1rem;
  }

  table {
    font-size: 0.875rem;
  }

  .design-item {
    flex: 1;
    background-color: $grey;
    display: inline-block;
    min-width: 5rem;
    text-align: center;
    padding: 0.5em;
  }
}
