<template>
  <TagsInput :value="value" v-on="$listeners">
    <div slot-scope="{ removeTag, inputAttrs, inputEvents }" class="tags-input">
      <span v-for="tag in value" :key="tag" class="tag">
        <span>{{ tag }}</span>
        <ButtonClose @click="removeTag(tag)" />
      </span>

      <input
        class="tags-input-text"
        placeholder="Add tag..."
        v-bind="inputAttrs"
        v-on="inputEvents"
      />
    </div>
  </TagsInput>
</template>

<script>
import TagsInput from './'

/**
 * Renderless Tags Input Component
 * https://adamwathan.me/renderless-components-in-vuejs/
 */
export default {
  name: 'TagsInputWrapper',
  components: { TagsInput },
  props: {
    value: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
.tag {
  display: inline-flex;
  line-height: 1;
  align-items: center;
  font-size: 0.875rem;
  background-color: hsl(169, 48%, 98%);
  border-radius: $radius;
  border: 1px dotted $grey;
  user-select: none;
  padding: 0.25rem 0.75rem;

  & + & {
    margin-left: 0.5rem;
  }

  > :last-child {
    margin-left: 0.25rem;
    margin-right: -0.25rem;
  }
}

.tags-input-text {
  flex: 1;
  outline: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  min-width: 10rem;
}
</style>
