/// Presents as button group

.button-group {
  @extend %button-group;

  // Separator
  @each $key, $val in $base-colors {
    // .#{$key} + .#{$key} {
    //   &::before {
    //     position: absolute;
    //     content: '';
    //     top: -1px;
    //     bottom: -1px;
    //     left: -1px;
    //     width: 1px;
    //   }
    // }

    // .#{$key}.-fill + .#{$key}.-fill {
    //   &::before {
    //     background: hsl(0, 0%, 100%);
    //   }
    // }

    .#{$key}.-fill + .#{$key}.-fill {
      margin-left: 1px;
    }
  }
}
