<script>
import AppIcon from '../Icon'

export default {
  name: 'Button',
  functional: true,
  props: {
    label: {
      type: String,
      default: undefined
    },
    color: {
      type: String,
      default: undefined
    },
    fill: {
      type: String,
      default: undefined
    },
    size: {
      type: String,
      default: undefined
    },
    ghost: {
      type: Boolean,
      default: false
    },
    darkMode: {
      type: Boolean,
      default: false
    },
    circle: {
      type: Boolean,
      default: false
    },
    block: {
      type: Boolean,
      default: false
    },
    caps: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: undefined
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  render(h, { props, listeners, children }) {
    const {
      label,
      size,
      icon,
      color,
      fill,
      ghost,
      darkMode,
      circle,
      caps,
      block,
      loading
    } = props

    const classNames = [
      'button',
      { '-icon': icon },
      { '-circle': circle },
      { '-block': block },
      { '-ghost': ghost },
      { '-dark-mode': darkMode },
      { '-caps': caps },
      { '-label': label || children },
      { 'is-loading': loading }
    ]

    const handleClick = e => {
      if (!listeners.click) return
      e.stopPropagation()
      listeners.click()
    }

    const attrs = { fill, color, size }
    const content = label || children

    return (
      <button
        {...{ attrs }}
        class={classNames}
        aria-label={label}
        disabled={loading}
        onClick={handleClick}
      >
        {icon && <AppIcon name={icon} />}
        {content && <span class="label">{content}</span>}
      </button>
    )
  }
}
</script>

<style lang="scss" src="./button.scss" scoped></style>
