<script>
import Icon from '../Icon'

export default {
  name: 'ButtonClose',
  functional: true,
  props: {
    size: {
      type: String,
      default: undefined
    }
  },
  render(h, { props, listeners }) {
    return (
      <button class="button-reset" aria-label="Сбросить" {...{ on: listeners }}>
        <Icon name="cancel" size={props.size} />
      </button>
    )
  }
}
</script>

<style lang="scss" scoped>
.button-reset {
  @extend %button;
  border: none;
  align-self: center;
  width: 1.25rem;
  height: 1.25rem;
  color: dark(40);

  &:hover {
    color: $dark;
  }
}

* + .button-reset {
  margin-left: 0.5rem;
}
</style>
