/// Styles
.button {
  position: relative;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;

  line-height: 1;
  font-family: $font-base;
  white-space: nowrap;

  border: $control-border;
  border-radius: $radius-sm;

  &:not([fill]):not(.-ghost) {
    background-color: hsl(0, 0%, 100%);
  }

  // дефолтный цвет иконки
  &:not([fill]):not([color]) .icon {
    color: $secondary;
  }

  // кнопка с текстом
  &.-label {
    padding: 0.5em 1em;
    min-width: 5em;
  }

  // кнопка без текста, только иконка
  &:not(.-label) {
    padding: 0;

    .icon {
      margin: 0.4375rem;
    }
  }

  /// Colours
  @each $key, $val in $base-colors {
    // цветной фон, белый текст, белая иконка
    &[fill='#{$key}'] {
      color: hsl(0, 0%, 100%);
      background-color: $val;
      border-color: $val;
    }

    // иконка цветная, текст черный
    &[color='#{$key}'] .icon,
    // без иконки цветной текст
    &[color='#{$key}']:not(.-icon) {
      color: $val;
    }
  }

  /// States
  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.96);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  }
}

/// Icon spec
.icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  transform: scale(1.125);
}

.-label .icon {
  // чтобы не растопыривало кнопку по высоте
  // добавим отрицательные маржины по высоте
  margin: -0.125em 0 -0.125em -0.25em;
}

.icon + .label {
  margin-left: 0.375em;
}

/// Decorations
.-circle {
  border-radius: 1.25em;
}

.-ghost {
  border-color: currentColor;
  background-color: transparent;

  &.-dark-mode:not([color]) {
    color: hsla(0, 0%, 100%, 0.75);
  }

  @at-root .dark-mode &:not([color]) {
    color: hsla(0, 0%, 100%, 0.75);
  }
}

.-block {
  width: 100%;
  justify-content: center;
}

.-caps .label {
  font-variant: all-small-caps;
  position: relative;
  top: -0.03125em;
}

/// Sizes
// default [md] 1em === body font-size

[size='xs'] {
  font-size: 0.75em;
}

[size='sm'] {
  font-size: 0.875em;
}

[size='lg'] {
  font-size: 1.125em;
}

[size='xl'] {
  font-size: 1.25em;
}

/// States
[disabled] {
  pointer-events: none;
  user-select: none;
  cursor: default;
}

:not(.is-loading)[disabled] {
  opacity: 0.5;
  background-color: dark(10);
  color: $dark;
}

.is-loading[disabled] {
  background-color: dark(4);
  border-color: dark(20);
}

.is-loading {
  pointer-events: none;

  .icon,
  .label {
    visibility: hidden;
  }

  &:before {
    animation: rotate 500ms infinite linear;
    will-change: transform;
    border: 2px solid $secondary;
    border-radius: 290486px;
    border-color: transparent transparent $secondary $secondary;
    position: absolute;
    z-index: 2;
    display: block;
    content: '';
    top: 50%;
    left: 50%;
    height: 1rem;
    width: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
