<script>
import AppIcon from '../Icon'

export default {
  name: 'ButtonClose',
  functional: true,
  props: {
    color: {
      type: String,
      default: undefined
    },
    size: {
      type: String,
      default: undefined
    }
  },
  render(h, { props, listeners }) {
    return (
      <button
        class={['button-close', props.color]}
        aria-label="Закрыть"
        {...{ on: listeners }}
      >
        <AppIcon name="close" size={props.size} />
      </button>
    )
  }
}
</script>

<style lang="scss" scoped>
.button-close {
  @extend %button;
  border: none;
  display: inline-flex;
}
</style>
