<script>
export default {
  name: 'ButtonGroup',
  props: {
    color: {
      type: String,
      default: ''
    },
    size: {
      type: String,
      default: ''
    },
    ghost: {
      type: Boolean,
      default: false
    },
    circle: {
      type: Boolean,
      default: false
    },
    block: {
      type: Boolean,
      default: false
    }
  },
  render() {
    return <div class="button-group">{this.$slots.default}</div>
  }
}
</script>

<style lang="scss" src="./button-group.scss" scoped></style>
