<template>
  <form @submit.prevent>
    <div
      ref="dropbox"
      class="file-choose"
      :class="{ 'not-accept': !isAccept }"
      :multiple="multiple"
      @click="handleAdd"
    >
      <template v-if="!isAccept">
        <Icon name="info-outline" color="error" />
        <span>Недопустимый формат файла. Разрешены только {{ accept }}.</span>
        <b>Выберите другой...</b>
      </template>

      <template v-else>
        <div v-if="files.length" class="files">
          <div
            v-for="(file, idx) in files.slice(0, 3)"
            :key="`file-${idx}`"
            :title="file.name"
            class="file"
          >
            <span class="name">{{ file.name }}</span>
            <Icon
              name="cancel"
              color="hsla(220, 37%, 22%, 0.65)"
              @click.native.stop="handleRemoveFile(file)"
            />
          </div>

          <div v-if="files.length > 3" class="-nowrap">
            ...еще {{ files.length - 3 }}
          </div>

          <!-- <Button label="Удалить все" size="xxs" @click.native.stop="handleReset" /> -->
        </div>

        <b v-else>Выберите файл...</b>
      </template>
    </div>

    <input ref="input" type="file" :accept="formats" @change="handleAttach" />
  </form>
</template>

<script>
import Icon from '~/components/common/Icon'
// import { Button } from '~/components/common/Button'

// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file
// https://stackoverflow.com/a/23706177
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#accept
const fileTypes = extension => {
  const types = {
    csv: '.csv',
    // Microsoft Word 97-2003
    doc: 'application/msword',
    // Microsoft Word 2007+
    docx:
      'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
    // Excel 97-2003
    xls: 'application/vnd.ms-excel',
    // Excel 2007+
    xlsx: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
    txt: 'text/plain',
    img: 'image/*',
    html: 'text/html',
    video: 'video/*',
    audio: 'audio/*',
    pdf: '.pdf'
  }
  return types[extension]
}

export default {
  name: 'FileUpload',
  components: {
    Icon
    // Button
  },

  props: {
    value: {
      type: [FileList, File],
      default: undefined
    },
    multiple: {
      type: Boolean,
      default: false
    },
    accept: {
      type: String,
      default: undefined
    },
    attach: {
      type: Function,
      default: () => {}
    }
  },

  data() {
    const acceptList = this.accept.split(',').map(ext => ext.trim())
    const formatList = acceptList.map(ext => fileTypes(ext))

    return {
      files: [],
      acceptList,
      formatList: this.accept ? formatList : undefined,
      formats: this.accept ? formatList.toString() : undefined,
      isAccept: true
    }
  },

  watch: {
    value(val) {
      if (!val) this.handleReset()
    }
  },

  mounted() {
    const events = ['dragover', 'dragenter', 'drop']
    events.forEach(event => {
      this.$refs.dropbox.addEventListener(
        event,
        e => {
          e.preventDefault()
          e.stopPropagation()
        },
        false
      )
    })

    this.$refs.dropbox.addEventListener('drop', e => {
      this.handleValidate(e.dataTransfer.files)
    })
  },

  methods: {
    handleAdd() {
      this.$refs.input.click()
    },

    handleAttach(e) {
      this.handleValidate(e.target.files)
    },

    handleValidate(files) {
      let available
      for (const file of files) {
        const ext = file.name.match(/\.([^.]+)$/)[1]
        available = this.acceptList.some(x => x === ext)
      }
      this.isAccept = available

      if (!available) {
        this.handleReset()
      } else {
        this.handleAppendFiles(files)
      }
    },

    handleAppendFiles(files) {
      if (!files) return

      if (this.multiple) {
        for (const file of files) {
          this.files.push(file)
        }
      } else {
        this.files = [files[0]]
      }

      this.$emit('attach', this.multiple ? files : files[0])

      // setTimeout(() => this.$el.reset(), 1000)
    },

    handleRemoveFile(file) {
      this.files.splice(this.files.indexOf(file), 1)
      if (!this.files.length) this.handleReset()
    },

    handleReset() {
      this.files = []
      this.$el.reset()
      this.$emit('reset')
    }

    // handleFilePreview(file) {
    //   const fileReader = new FileReader()
    //   fileReader.onload = e => {
    //     const bytes = new Uint8Array(e.target.result)
    //     const workbook = window.XLSX.read(bytes, { type: 'array' })
    //     console.log(file.name, workbook)
    //   }
    //   fileReader.readAsArrayBuffer(file)
    // },
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
