.file-choose {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 2rem;
  height: 5rem;
  outline: 1px dotted hsla(0, 0%, 0%, 0.15);
  outline-offset: -0.25rem;
  border-radius: 4px;
  background-color: cornsilk;
  transition: background 0.25s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    display: flex;
    align-items: center;
  }

  > * + * {
    margin-left: 0.5rem;
  }
}

[type='file'] {
  width: 0;
  height: 0;
  position: absolute;
}

// button {
//   align-self: normal;
// }

.not-accept {
  background-color: tint($error, 96);
  outline-color: $error;
}

.files {
  > * + * {
    margin-left: 1rem;
  }
}

.file {
  display: flex;
  flex: 1;

  .name {
    @extend %truncate;
  }

  .icon {
    flex-shrink: 0;
    margin-left: 0.25rem;
  }
}
