<script>
import debounce from 'lodash/debounce'

export default {
  name: 'Input',
  inheritAttrs: false,
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: null
    },
    iconPosition: {
      type: String,
      default: 'inside'
    },
    clearable: {
      type: Boolean,
      default: false
    },
    debounce: {
      type: Number,
      default: 0
    }
  },
  computed: {
    listeners() {
      const input = debounce(
        e => this.$emit('input', e.target.value.trim()),
        this.debounce
      )
      return { ...this.$listeners, input }
    }
  },
  methods: {
    reset() {
      this.$emit('input', '')
    }
  },
  render() {
    const UID = this.$options._componentTag + this._uid

    // Set attributes, props
    let { id, name, type, ...attrs } = this.$attrs
    const { label, icon, clearable, iconPosition } = this

    id = id || UID
    name = name || id || UID

    // Resolve input type
    const textarea = type === 'textarea'
    type = type ? (type === 'textarea' ? '' : type) : 'input'

    // attrs = { id, name, type, value, ...attrs }
    attrs = { id, name, type, ...attrs }

    if (!type) delete attrs.type
    if (label) attrs['aria-label'] = label

    // Styles
    const { append, prepend } = this.$slots
    const noRadius = { 'no-radius': append || prepend }
    const iconOutside = iconPosition === 'outside'

    return (
      <div class="root">
        {label && (
          <label for={id} class="label">
            {label}
            <abbr title="Обязательное поле">*</abbr>
          </label>
        )}

        {append}

        <div class="wrapper">
          {icon &&
            (iconOutside ? (
              <div class="icon-outside-wrapper">
                <Icon name={icon} class={iconPosition} />
              </div>
            ) : (
              <Icon name={icon} class={iconPosition} />
            ))}

          {textarea ? (
            <textarea
              {...{ attrs }}
              value={this.value}
              on={this.listeners}
              class="input"
            />
          ) : (
            <input
              {...{ attrs }}
              value={this.value}
              on={this.listeners}
              class={['input', noRadius]}
            />
          )}

          {clearable && (
            <span onClick={this.reset} class="-reset">
              <Icon name="cancel" />
            </span>
          )}
        </div>

        {prepend}
      </div>
    )
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
