/** Styles */
.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  margin-right: 0.5rem;
  color: dark(50);

  abbr {
    margin-left: 0.5rem;
    color: $accent;
  }
}

.wrapper {
  width: 100%;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;

  span {
    visibility: hidden;
  }

  &:hover span {
    visibility: visible;
  }
}

.input {
  width: 100%;
  margin: 0;
  padding: 0.5em 0.75em;
  border: $control-border;
  font: inherit;
  font-family: $font-base;

  &.no-radius {
    border-radius: inherit !important;
  }

  /** States */
  // &:focus {
  //   border-color: $accent;
  // }

  &[disabled] {
    pointer-events: none;
    opacity: 0.35;
    user-select: none;
    background: dark(20);
    border-color: dark(20);
    color: $dark;
    cursor: default;
  }
}

/** Has icons */
%insideIcon {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  &.inside {
    @extend %insideIcon;
    left: 0.5rem;
    color: $control-border-color;
    margin-top: 1px;

    + input {
      padding-left: 2rem;
    }
  }
}

// Clerable
.-reset .icon {
  @extend %insideIcon;
  right: 0.5rem;
  padding: 2px; // width: 16px;
  color: $control-border-color;
  cursor: pointer;
}

.icon-outside-wrapper {
  align-self: normal;
  display: flex;
  align-items: center;
  background: dark(6);
  border: $control-border;
  border-right: 0;
  border-radius: $radius-sm 0 0 $radius-sm;

  .icon {
    width: 18px;
    height: 18px;
    color: dark(50);
    margin: auto 0.5rem;
  }

  + input {
    border-radius: 0 $radius-sm $radius-sm 0 !important;
  }
}

textarea {
  resize: vertical;
  line-height: 1.375;
  display: inherit;
}
