<template>
  <Dropdown>
    <template #header="{ isOpen }">
      <TagList
        v-if="multiple"
        v-model="model"
        v-bind="{ datalist, placeholder }"
      />
      <!-- v-model="query" -->
      <!-- tabindex="-1" -->
      <input
        :hidden="multiple"
        :value="query"
        :placeholder="placeholder"
        type="text"
        spellcheck="false"
        autocomplete="off"
        @keyup.enter="handleEnter"
        @keyup.up.prevent="handleSelectPrev"
        @keyup.down.prevent="handleSelectNext"
        @keydown.up.down.prevent="handleToggle($event, isOpen)"
        @keydown.esc.prevent="handleEscape($event, isOpen)"
        @input.prevent="handleSearch($event, isOpen)"
      />
    </template>

    <template v-for="(option, index) in options">
      <component
        :is="optionComponent"
        ref="option"
        :key="option.value"
        v-model="model"
        v-bind="{ option }"
        :class="selectedIndex === index && 'has-focus'"
        :aria-selected="selectedIndex === index"
        role="option"
      />
    </template>
    <div v-show="!options.length" class="not-found">
      Ничего не найдено...
    </div>
  </Dropdown>
</template>

<script>
import Dropdown from '../Dropdown'
import TagList from '../TagList'
import mixin from '../../mixins/mixin-v-model'
import Option from './option'
import OptionMultiple from './option-multiple'

export default {
  name: 'Select',
  components: {
    Dropdown,
    Option,
    OptionMultiple,
    TagList
  },

  mixins: [mixin],

  props: {
    datalist: {
      type: Array,
      default: () => []
    },
    multiple: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: 'Выберите...'
    }
  },

  data() {
    return {
      query: null,
      selectedIndex: -1
    }
  },

  computed: {
    optionComponent() {
      return this.multiple ? 'OptionMultiple' : 'Option'
    },
    options() {
      if (this.query === this.selectedLabel) return this.datalist
      return this.datalist.filter(item => {
        return item.label.toLowerCase().includes(this.query.toLowerCase())
      })
    },
    selectedLabel() {
      const item = this.datalist.find(item => item.value === this.model)
      return item ? item.label : ''
    },
    activeIndex() {
      const index = this.options.findIndex(
        item => item.value === this.value || item === this.value
      )
      console.log({ index })
      return index
    }
  },

  watch: {
    value: {
      handler(value) {
        this.query = this.selectedLabel
      },
      immediate: true
    }
  },

  methods: {
    handleSearch(event, isOpen) {
      !isOpen && event.target.click()
      this.query = event.target.value
    },
    handleSelectPrev() {
      const index = this.selectedIndex - 1
      this.selectedIndex = index >= 0 ? index : this.options.length - 1
    },
    handleSelectNext() {
      const index = this.selectedIndex + 1
      this.selectedIndex = index <= this.options.length - 1 ? index : 0
    },
    handleEnter(event) {
      if (this.selectedIndex === -1) event.target.click()
      else this.$refs.option[this.selectedIndex].$el.click()
    },
    handleEscape(event, isOpen) {
      isOpen && event.target.click()
      if (!event.target.value) this.selectedIndex = -1
      else this.selectedIndex = this.activeIndex
    },
    handleToggle(event, isOpen) {
      !isOpen && event.target.click()
    }
  }
}
</script>

<style lang="scss" scoped>
input[type='text'] {
  border: none;
  flex: 1;
  padding: 0 $control-padding-x;
  cursor: pointer;

  &:focus {
    outline: none;
    cursor: initial;
  }
}

.has-focus,
.is-active.has-focus {
  background-color: hsl(210, 100%, 96%);
}
</style>
