label {
  display: block;
  padding: 0.375rem 0.5rem;
  cursor: pointer;

  & + & {
    margin-top: 2px;
  }

  &:hover {
    background-color: dark(5);
  }

  &.is-active {
    color: $primary;
    position: relative;

    &::after {
      position: absolute;
      z-index: 1;
      content: '';
      top: 50%;
      right: $control-padding-x;
      width: 0.5em;
      height: 0.75em;
      transform-origin: 0.375rem 0.375rem;
      transform: translate(0, -50%) rotate(45deg);
      border: solid tint($color-primary, 50);
      border-width: 0 2px 2px 0;
    }
  }
}
