<template>
  <label class="checkbox" :class="{ 'is-active': isChecked }">
    <input
      v-model="model"
      :value="option.value || option"
      type="checkbox"
      hidden
    />
    <span>{{ option.label || option }}</span>
  </label>
</template>

<script>
import mixin from '../../mixins/mixin-v-model'

export default {
  name: 'Option',

  mixins: [mixin],

  props: {
    option: {
      type: [String, Object],
      default: ''
    }
  },
  computed: {
    isChecked() {
      return this.model.includes(this.option.value)
    }
  }
}
</script>

<style lang="scss" src="./item.scss" scoped></style>
