<template>
  <label class="checkbox" :class="{ 'is-active': isChecked }">
    <input v-model="model" :value="label" type="checkbox" :hidden="hidden" />
    <slot>
      <span>{{ label }}</span>
    </slot>
  </label>
</template>

<script>
import mixin from '../../mixins/mixin-v-model'

export default {
  name: 'Checkbox',

  mixins: [mixin],

  props: {
    label: {
      type: String,
      default: undefined
    },
    hidden: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    isChecked() {
      if (Array.isArray(this.model)) {
        return this.model.includes(this.label)
      }
      return this.model === true
    }
  }
}
</script>
