<script>
import Checkbox from './checkbox'

export default {
  name: 'CheckboxGroup',

  components: { Checkbox },

  props: {
    value: {
      type: Array,
      default: () => []
    },
    labels: {
      type: Array,
      default: () => []
    },
    present: {
      type: String,
      default: undefined,
      validator(value) {
        return ['button-group'].includes(value)
      }
    }
  },

  computed: {
    model: {
      get() {
        return this.value
      },
      set(newValue) {
        this.$emit('input', newValue)
      }
    }
  },

  methods: {
    handleChange(event) {
      const value = event.target.value
      if (event.target.checked) {
        this.model.push(value)
      } else {
        this.model.splice(this.model.indexOf(value), 1)
      }
      this.$emit('change', this.model)
    }
  },

  render() {
    let children

    if (!this.$slots.default) {
      children = this.labels.map(label => {
        return (
          <Checkbox
            vModel={this.model}
            label={label}
            hidden={this.present === 'button-group'}
          />
        )
      })
    } else {
      children = this.$slots.default
        .filter(vm => vm.componentOptions)
        .map(vm => {
          const { propsData } = vm.componentOptions
          propsData.value = this.model
          // if (this.present === 'button-group') {
          //   propsData.hidden = true
          // }
          return vm
        })
    }

    return (
      <div class={['checkbox-group', this.present]} onInput={this.handleChange}>
        {children}
      </div>
    )
  }
}
</script>

<style lang="scss" src="./checkbox-group.scss" scoped></style>
