/// Presents as button group

.button-group {
  @extend %button-group;

  .checkbox {
    @extend %button-group-item;
  }

  .checkbox + .checkbox {
    margin-left: 0;
  }

  // input {
  //   display: none;
  // }

  // input + * {
  //   margin-left: inherit;
  // }

  .checkbox.is-active {
    @extend %button-group-item-active;
    @extend %button-group-item-active-separator;
  }
}
