@import 'mixins/mixins';

/// Base configs imports
@import 'configs/base-fonts';
@import 'configs/base-colors';
@import 'configs/base-sizes';
@import 'configs/base-spaces';
@import 'configs/base-controls';

/// Base elements
$radius-sm: 0.1875rem !default; // 3px
$radius: 0.25rem !default; // 4px
$radius-lg: 0.5rem !default; // 8px

$shadow: 0 1px 1px 0 hsla(0, 0%, 0%, 0.1) !default;
$shadow-long: 0 0.5rem 0.75rem 0 rgba($color-primary, 0.05) !default;
$shadow-inset: inset 0 0px 0px 1px hsla(0, 0%, 0%, 0.075) !default;

$border: 1px solid rgba($color-grey, 0.5) !default;

/// Grid
$grid-sort-cell-active: hsla(0, 0%, 0%, 0.05);
$grid-sort-arrow-color: hsla(0, 0%, 40%, 0.5);
$grid-sort-arrow-color-active: hsl(0, 0%, 20%);

/// Base extends imports
@import 'extends/extends';
