<template>
  <div class="dropdown-host" :class="{ 'is-open': isOpen }" tabindex="0" @click="toggle">
    <div
      id="dropdown-button"
      class="trigger"
      aria-haspopup="listbox"
      aria-labelledby="dropdown-menu dropdown-button"
      :aria-expanded="isOpen"
    >
      <slot name="header" v-bind="{ isOpen }" />

      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        class="arrow"
      >
        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
      </svg>
    </div>

    <div id="dropdown-menu" class="content" tabindex="-1" role="listbox">
      <slot @hook:mounted="mountOptions" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Dropdown',
  data() {
    return {
      isOpen: false,
      options: [],
      selectedIndex: -1,
    }
  },

  mounted() {
    // console.log(this.$slots.default)
    // this.$on('listbox-mounted', this.mountOptions)
    this.mountOptions()

    document.addEventListener('click', this.handleClick)
    document.addEventListener('keydown', this.handleKeydown, false)
  },
  beforeDestroy() {
    document.removeEventListener('click', this.handleClick)
    document.removeEventListener('keydown', this.handleKeydown, false)
  },

  methods: {
    mountOptions() {
      const options = this.$el.querySelectorAll('label')

      // При установке tabIndex="-1" на элемент внутри контейнера listbox
      // браузер автоматически прокручивает контейнер,
      // чтобы иметь дочерний элемент с текущим фокусом в поле зрения.
      options.forEach(option => option.setAttribute('tabindex', '-1'))

      this.options = options
    },

    toggle() {
      this.isOpen = !this.isOpen
    },

    handleClick(event) {
      if (this.$el.contains(event.target)) return
      this.isOpen = false
    },

    handleKeydown(event) {
      if (document.activeElement !== this.$el) return

      // if (this.isOpen) event.preventDefault()

      // // ArrowUp. Если фокус находится на кнопке,
      // // раскрывает список и переводит фокус
      // // на текущий выбранный параметр в списке.
      // if (this.isOpen && event.keyCode === 38) {
      //   this.toggle()
      // }

      // ArrowDown. Если список свернут,
      // также разворачивается список
      if (!this.isOpen && event.keyCode === 40) {
        event.preventDefault()
        this.toggle()
      }

      // ArrowDown. Если список отображается
      if (this.isOpen && event.keyCode === 40) {
        this.handleSelectNext()
        console.log(this.selectedIndex)
        this.toggleActiveOption()
      }
      // ArrowUp. Если список отображается
      if (this.isOpen && event.keyCode === 38) {
        this.handleSelectPrev()
        console.log(this.selectedIndex)
        this.toggleActiveOption()
      }

      // Enter. Если список отображается,
      // он сворачивает список и перемещает фокус на кнопку.
      if (this.isOpen && event.keyCode === 13) {
        event.preventDefault()
        this.options[this.selectedIndex].click()
        this.toggle()
      }

      // Escape. Если список отображается,
      // он сворачивает список и перемещает фокус на кнопку.
      if (this.isOpen && event.keyCode === 27) this.toggle()
    },

    handleSelectPrev() {
      const index = this.selectedIndex - 1
      this.selectedIndex = index >= 0 ? index : this.options.length - 1
    },

    handleSelectNext() {
      const index = this.selectedIndex + 1
      this.selectedIndex = index <= this.options.length - 1 ? index : 0
    },

    toggleActiveOption() {
      this.options.forEach((option, idx) => {
        if (idx === this.selectedIndex) {
          option.classList.add('is-active')
          // option.focus()
        } else {
          option.classList.remove('is-active')
        }
      })
    },
  },
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>

<style lang="scss" scoped>
label.is-active {
  outline: 1px solid teal;
}
</style>
