/// Wrapper
.dropdown-host {
  position: relative;
  display: flex;
  align-items: center;

  // min-width: 6rem;
  // max-width: 8rem;
  // @include xl {
  //   min-width: 8rem;
  //   max-width: 14rem;
  // }
  // @include xxl {
  //   min-width: 12rem;
  //   max-width: 18rem;
  // }

  height: 2rem;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid $grey;
  border-radius: $radius-sm;

  &:hover {
    border-color: $primary;
  }
}

/// Trigger
.trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  cursor: pointer;
}

.arrow {
  flex-shrink: 0;
  margin: 0 0.5rem;
  fill: $grey;
}

/// Content
.content {
  position: absolute;
  z-index: 10;
  top: 100%;
  width: 100%;
  margin-top: 0.125rem;
  padding: 0.25rem;
  border: 1px solid $grey;
  background-color: hsl(0, 0%, 100%);
  box-shadow: $shadow;

  // Animate state
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0.8);
  transform-origin: 0% 0%;
  transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s;

  max-height: 20rem;
  overflow: hidden auto;
}

.is-open {
  .arrow {
    transform: rotate(-180deg);
    margin-bottom: 0;
  }

  .content {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0s, 0s, 0.2s;
  }
}
