<script>
export default {
  name: 'Section',
  props: {
    data: {
      type: String,
      default: undefined
    }
  },
  render() {
    return <section>{this.$slots.default}</section>
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
