// .box {
//   // display: grid;
//   // grid-template: auto / var(--grid);
//   // grid-gap: $pad;
//   padding: 1.5rem;
//   background: #fff;
//   // border-top: 1px solid dark(12);
//   border-radius: $radius;
//   box-shadow: $shadow-inset, $shadow-long;

//   & + & {
//     margin-top: 2rem;
//   }

//   > * {
//     margin: 0;
//   }
// }

.box {
  padding: 1.5rem;
  background: #fff;
  border-radius: $radius;
  box-shadow: $shadow-inset, $shadow-long;

  & + .box {
    margin-top: 2rem;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

h2 {
  position: sticky;
  top: -1rem;
  z-index: 1;
  // background: hsla(0, 0%, 100%, 0.5);
  background: #fff;
  padding: 0.5rem 0;
  font-weight: 400;
  // filter: blur(40);
}
