@each $key, $val in $base-colors {
  .text-#{$key} {
    color: #{$val};
  }

  .bg-#{$key} {
    background-color: #{$val};
  }

  [fill='#{$key}'] {
    background-color: $val;
  }

  [color='#{$key}'] {
    color: $val;
  }
}
