/// Flex: Утилиты для управления увеличением и уменьшением гибких элементов
// https://developer.mozilla.org/ru/docs/Web/CSS/flex

// Используйте .flex для создания гибкого контейнера на уровне блоков
.flex {
  display: flex;
}

// Используйте .flex-1, чтобы позволить гибкому элементу увеличиваться и уменьшаться по мере необходимости, игнорируя его первоначальный размер
.flex-1 {
  flex: 1 1 0%;
}

// Используйте .flex-auto, чтобы позволить гибкому элементу увеличиваться и уменьшаться с учетом его исходного размера
.flex-auto {
  flex: 1 1 auto;
}

// Используйте .flex-initial, чтобы элемент гибкости сжимался, но не увеличивался, учитывая его первоначальный размер
.flex-initial {
  flex: 0 1 auto;
}

// Используйте .flex-none, чтобы предотвратить рост или сжатие гибкого элемента
.flex-none {
  flex: none;
}

/// Flex Direction: Утилиты для управления направлением гибких элементов

// Используйте .flex-row для размещения гибких элементов по горизонтали в том же направлении, что и текст
.flex-row {
  flex-direction: row;
}

// Используйте .flex-col для вертикального расположения гибких элементов
.flex-col {
  flex-direction: column;
}

/// Flex Wrap: Утилиты для управления переносом гибких элементов

// Используйте .flex-wrap, чтобы позволить гибким элементам оборачиваться
.flex-wrap {
  flex-wrap: wrap;
}

// Используйте .flex-no-wrap, чтобы предотвратить упаковку гибких элементов, в результате чего негибкие элементы при необходимости переполняют контейнер
.flex-no-wrap {
  flex-wrap: nowrap;
}
