@each $key, $val in $base-spaces {
  /// Add horizontal space between children
  .space-x-#{$key} > * + * {
    margin-left: #{$val};
  }

  /// Add vertical space between children
  .space-y-#{$key} > * + * {
    margin-top: #{$val};
  }

  /// Add margins
  .m-#{$key} {
    margin: #{$val}\!;
  }

  /// Add paddings
  .p-#{$key} {
    padding: #{$val};
  }

  /// TODO Багический кусочек
  .m-#{$key}\! {
    margin: #{$val} !important;
  }

  .p-#{$key}\! {
    padding: #{$val} !important;
  }
}
