<template>
  <Dropdown>
    <template #header>
      <TagList v-model="model" v-bind="{ datalist, placeholder }" />
    </template>

    <template v-for="option in datalist">
      <component
        :is="optionComponent"
        :key="option.value"
        v-model="model"
        :option="option"
      />
    </template>
  </Dropdown>
</template>

<script>
import Dropdown from '../Dropdown'
import TagList from '../TagList'
import OptionGroup from './option-group.vue'
import Option from './option.vue'

export default {
  name: 'SelectDeep',

  components: {
    Dropdown,
    OptionGroup,
    Option,
    TagList
  },

  props: {
    datalist: {
      type: Array,
      default: () => []
    },
    skipParent: {
      type: Boolean,
      default: false
    },
    showTreeLines: {
      type: Boolean,
      default: false
    },
    value: {
      type: [Array, String],
      default: () => []
    },
    placeholder: {
      type: String,
      default: 'Выберите...'
    }
  },

  computed: {
    model: {
      get() {
        const { value } = this
        // Модель всегда массив
        return Array.isArray(value) ? value : [value]
      },
      set(newValue) {
        this.$emit('input', newValue)
      }
    },

    optionComponent() {
      return this.skipParent ? 'OptionGroup' : 'Option'
    }
  },

  beforeMount() {
    this.$emit('listbox-mounted')
  }
}
</script>

<style lang="scss" src="./index.scss" scoped></style>
