.item {
  position: relative;
  display: flex;
  flex-flow: column;

  // ChildNodes
  &:first-child {
    margin-top: 0.25rem;
  }

  &:last-child {
    margin-bottom: 0.25rem;
  }

  & > & {
    padding-left: 1rem;
  }

  .checkbox {
    padding: 0.3125rem 0.5rem;
  }

  .label {
    @extend %truncate;
  }

  &.children {
    + .group {
      padding-top: 0.5rem;
    }
  }

  &.group {
    + .children {
      padding-top: 0.5rem;
    }

    + .item {
      padding-top: 0.5rem;
    }
  }
}

/// Stylize tree
.tree-lines .item::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.875rem;
  content: '';
  border-left: 1px solid $grey;
}
