<template>
  <div class="item" :class="{ group: hasChildren }" @click.stop>
    <label
      class="checkbox"
      :class="{ 'is-active': isChecked }"
      :disabled="option.disabled"
    >
      <!-- Пропускаем жмак по родителю -->
      <input
        v-if="hasChildren"
        :checked="isChecked"
        :disabled="option.disabled"
        :indeterminate.prop="indeterminate"
        type="checkbox"
        @click.stop="handleChange"
      />
      <!-- Все потомки, кроме родителей -->
      <input
        v-else
        v-model="model"
        :value="option.value"
        :disabled="option.disabled"
        type="checkbox"
        @click.stop="handleChange"
      />
      <slot>
        <b v-if="hasChildren" class="label">{{ option.label }}</b>
        <span v-else class="label">{{ option.label }}</span>
      </slot>
    </label>

    <!-- Потомки потомков, рекурсия по дереву -->
    <OptionGroup
      v-for="child in option.children"
      :key="child.value"
      v-model="model"
      :option="child"
      :class="{ children: hasChildren }"
      v-on="$listeners"
    />
  </div>
</template>

<script>
import mixin from '../../mixins/mixin-v-model'

export default {
  name: 'OptionGroup',

  mixins: [mixin],

  props: {
    value: {
      type: [Array, String],
      required: true
    },
    option: {
      type: [String, Object],
      default: ''
    }
  },

  computed: {
    /** Создает плоский массив всех значений потомков, исключая недоступные */
    childrenValues() {
      const list = []
      function getItems(options) {
        for (const { disabled, value, children } of options) {
          // Пропускаем родительские и недоступные узлы
          if (!children.length && !disabled) list.push(value)
          // Обходим всех потомков рекурсивно
          if (children.length) getItems(children)
        }
        return list
      }
      return getItems(this.option.children)
    },

    /** Проверяет наличие потомков */
    hasChildren() {
      return !!this.option.children && this.option.children.length > 0
    },

    /** Проверяет что отмечены все потомки */
    isAllChildrenChecked() {
      return this.childrenValues.every(value => this.model.includes(value))
    },

    /** Проверяет отмечен ли хотя-бы один потомок */
    isSomeChildrenChecked() {
      return this.childrenValues.some(value => this.model.includes(value))
    },

    /** Проверка для установки частичного выбора потомков */
    indeterminate() {
      return this.isSomeChildrenChecked && !this.isAllChildrenChecked
    },

    /** Проверяет наличие в модели */
    isChecked() {
      return this.hasChildren
        ? this.isAllChildrenChecked
        : this.model.includes(this.option.value)
    }
  },

  methods: {
    handleChange(event) {
      if (!this.hasChildren) return

      if (event.target.checked) {
        for (const value of this.childrenValues) {
          // Запрещаем пушить дважды
          if (!this.model.includes(value)) this.model.push(value)
        }
      } else {
        for (const value of this.childrenValues) {
          this.model.splice(this.model.indexOf(value), 1)
        }
      }
    }
  }
}
</script>

<style lang="scss" src="./item.scss" scoped></style>
