<script>
import SvgLoader from '../../svg/loader.svg'

export default {
  name: 'SpinLoader',
  functional: true,
  components: { SvgLoader },
  props: {
    type: {
      type: String,
      default: 'three-dots' // dot, three-dots, circle
    },
    size: {
      type: String,
      default: undefined
    }
  },
  render(h, { props }) {
    const { type, size } = props

    const classNames = [size, 'loader', type]

    return (
      <div class="loader-wrapper">
        {type === 'circle' && <SvgLoader class={classNames} />}

        {type === 'dot' && <span class={classNames} />}
        {type === 'three-dots' && (
          <div class={classNames}>
            <span class="bounce1"></span>
            <span class="bounce2"></span>
            <span class="bounce3"></span>
          </div>
        )}
      </div>
    )
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
