.loader-wrapper {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.65);
  pointer-events: all;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.lg {
    transform: scale(2, 2);
  }
}

.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $primary;
  animation: dot-spin-bounce 1s 0s ease-in-out infinite;
}

@keyframes dot-spin-bounce {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// http://tobiasahlin.com/spinkit

.three-dots {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.three-dots > * {
  width: 18px;
  height: 18px;
  background-color: $primary;
  border-radius: 100%;
  display: inline-block;
  animation: three-dots-bounce 1.4s infinite ease-in-out both;
}

.three-dots .bounce1 {
  animation-delay: -0.32s;
}

.three-dots .bounce2 {
  animation-delay: -0.16s;
}

@keyframes three-dots-bounce {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
