/// Add percentage of white to a color
/// @use color: tint(#456, 50%);
@function tint($color, $percent) {
  @return mix(white, $color, $percent);
}

/// Add percentage of black to a color
/// @use color: shade(#456, 50%);
@function shade($color, $percent) {
  @return mix(black, $color, $percent);
}

/// Greys scale
@function dark($percent) {
  @return mix(hsl(0, 0%, 100%), $color-dark, 100 - $percent);
}

/// Color aplpha
// alpha($color, 0.2);
@function toHSL($h, $s, $l, $alpha) {
  @return unquote('hsl(#{$h} #{$s} #{$l} / #{$alpha})');
}

@function alpha($color, $alpha) {
  @return toHSL(hue($color), saturation($color), lightness($color), $alpha);
}
