/** Spec for vue directives */
.v-copy {
  cursor: pointer;

  &:hover {
    outline: 1px solid shade($highlight-yellow, 5);
    background: $highlight-yellow;
  }
}

.v-copy-outside {
  flex-shrink: 0;
  margin-left: 0.5rem;
  cursor: pointer;
}

// Позиционируется в директиве
.v-hint {
  @extend %hint;

  &.is-active {
    @extend %hint-active;
    transform: translateY(-2rem);
  }
}
