// Set css custom prop colours
:root {
  --primary: #{$color-primary};
  --secondary: #{$color-secondary};
  --accent: #{$color-accent};
  --info: #{$color-info};
  --success: #{$color-success};
  --warning: #{$color-warning};
  --error: #{$color-error};
  --dark: #{$color-dark};
  --grey: #{$color-grey};
  --light: #{$color-light};
  --font-base: #{$def-font-base};
  --font-code: #{$def-font-code};
}
