// Flex Layout
[flex] {
  display: flex;
}

[flex*='row'],
[flex*='column'] {
  width: 100%;
  max-width: 100%;
}

[flex^='row'] {
  flex-direction: row;
}

[flex^='column'] {
  flex-direction: column;
}

[flex*='row'][flex*='reverse'] {
  flex-direction: row-reverse;
}

[flex*='column'][flex*='reverse'] {
  flex-direction: column-reverse;
}

[flex*='rows'],
[flex*='columns'] {
  flex-wrap: wrap;
}

[flex='none'] {
  flex: none;
}

/*
==========================================================
                  MAIN AXIS ALIGNMENT
==========================================================
*/

[flex*='column'][flex*='top-'],
[flex*='row'][flex*='-left'] {
  justify-content: flex-start;
}

[flex~='centered'],
[flex*='column'][flex*='center-'],
[flex*='row'][flex*='-center'] {
  justify-content: center;
}

[flex*='column'][flex*='bottom-'],
[flex*='row'][flex*='-right'] {
  justify-content: flex-end;
}

[flex*='column'][flex*='spread-'],
[flex*='row'][flex*='-spread'] {
  justify-content: space-around;
}

[flex*='column'][flex*='justify-'],
[flex*='row'][flex*='-justify'] {
  justify-content: space-between;
}

/*
==========================================================
                CROSS AXIS ALIGNMENT
==========================================================
*/

[flex*='column'][flex*='-left'],
[flex*='row'][flex*='top-'] {
  align-items: flex-start;
}

[flex~='centered'],
[flex*='column'][flex*='-center'],
[flex*='row'][flex*='center-'] {
  align-items: center;
}

[flex*='column'][flex*='-right'],
[flex*='row'][flex*='bottom-'] {
  align-items: flex-end;
}

[flex*='column'][flex*='-stretch'],
[flex*='row'][flex*='stretch-'] {
  align-items: stretch;
}

/*
==========================================================
               MULTI-LINE ALIGNMENT
==========================================================
*/

[flex*='rows'][flex*='top-'],
[flex*='columns'][flex*='-left'] {
  align-content: flex-start;
}

[flex*='rows'][flex*='bottom-'],
[flex*='columns'][flex*='-right'] {
  align-content: flex-end;
}

[flex*='rows'][flex*='center-'],
[flex*='columns'][flex*='-center'] {
  align-content: center;
}

[flex*='rows'][flex*='justify-'],
[flex*='columns'][flex*='-justify'] {
  align-content: space-between;
}

[flex*='rows'][flex*='spread-'],
[flex*='columns'][flex*='-spread'] {
  align-content: space-around;
}

[flex*='rows'][flex*='stretch-'],
[flex*='columns'][flex*='-stretch'] {
  align-content: stretch;
}

/*
==========================================================
                       IE10+ HACKS
==========================================================
*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  [flex*='column']:not([flex*='row']) > * {
    max-width: auto;
  }

  [flex*='column'][self*='top'] {
    height: auto !important;
  }

  [self~='size-'] > * {
    height: auto;
  }
}

/*
==========================================================
                    SELF ALIGNMENT
==========================================================
*/

[flex*='column']:not([flex*='row']) [self*='left'],
[flex*='row']:not([flex*='column']) [self*='top'] {
  align-self: flex-start;
}

[self~='center'] {
  align-self: center;
}

[flex*='column']:not([flex*='row']) [self*='right'],
[flex*='row']:not([flex*='column']) [self*='bottom'] {
  align-self: flex-end;
}

[self*='stretch'] {
  align-self: stretch;
}

/* ALIGN VIA MARGINS
========================================================== */

/* Container: */

[flex][self*='center'] {
  margin-left: auto;
  margin-right: auto;
}

[flex][self*='right'] {
  margin-right: 0;
}

[flex][self*='left'] {
  margin-left: 0;
}

/* Items: */

[flex*='column'] [self*='bottom'] {
  margin-top: auto;
}

[flex*='column'] [self*='top'] {
  margin-bottom: auto;
}

[flex*='row'] [self*='left'] {
  margin-right: auto;
}

[flex*='row'] [self*='right'] {
  margin-left: auto;
}

/*
==========================================================
                      SELF SIZE
==========================================================
*/

/* Relative size */

[self~='size-1of5'] {
  width: 20%;
}

[self~='size-1of4'] {
  width: 25%;
}

[self~='size-1of3'] {
  width: 33.33333%;
}

[self~='size-2of5'] {
  width: 40%;
}

[self~='size-1of2'] {
  width: 50%;
}

[self~='size-3of5'] {
  width: 60%;
}

[self~='size-2of3'] {
  width: 66.6666%;
}

[self~='size-3of4'] {
  width: 75%;
}

[self~='size-4of5'] {
  width: 80%;
}

[self~='size-1of1'] {
  width: 100%;
}

/* Proportional size*/

[flex*='row'][flex*='-stretch'] > *:not([self*='size-']),
[flex*='column'][flex*='stretch-'] > *:not([self*='size-']),
[self~='size-x1'] {
  flex: 1 0 0% !important;
}

[self~='size-x2'] {
  flex: 2 0 0% !important;
}

[self~='size-x3'] {
  flex: 3 0 0% !important;
}

[self~='size-x4'] {
  flex: 4 0 0% !important;
}

[self~='size-x5'] {
  flex: 5 0 0% !important;
}

[self~='size-x6'] {
  flex: 6 0 0% !important;
}

[self~='size-x7'] {
  flex: 7 0 0% !important;
}

[self~='size-x8'] {
  flex: 8 0 0% !important;
}

[self~='size-x9'] {
  flex: 9 0 0% !important;
}

[self*='size-auto'] {
  flex: 1 1 auto;
}

[self*='size-x0'] {
  flex: 0 0 auto;
}

[self*='size-x']:not([self*='small']):not([self*='large']) {
  flex-shrink: 1;
}

[self~='first'] {
  order: -1;
}

[self~='order-1'] {
  order: 1;
}

[self~='order-2'] {
  order: 2;
}

[self~='order-3'] {
  order: 3;
}

[self~='last'] {
  order: 999;
}

// [flex*="column"]:not([flex*="row"]) > * {
//   flex-shrink: 0;
//   flex-basis: auto;
// }

/* ALIGN VIA MARGINS
========================================================== */

/* Container: */

[flex][self*='center'] {
  margin-left: auto;
  margin-right: auto;
}

[flex][self*='right'] {
  margin-right: 0;
}

[flex][self*='left'] {
  margin-left: 0;
}

/* Items: */

[flex*='column'] [self*='bottom'] {
  margin-top: auto;
}

[flex*='column'] [self*='top'] {
  margin-bottom: auto;
}

[flex*='row'] [self*='left'] {
  margin-right: auto;
}

[flex*='row'] [self*='right'] {
  margin-left: auto;
}
