/**
 * Focus
 */

/**
 * Remove default focus styles for mouse users ONLY if
 * :focus-visible is supported on this platform.
 */
// :focus-visible {
//   outline: 2px solid blue;
//   outline-offset: 2px;
// }

/** Polyfilled focus-visible : https://unpkg.com/focus-visible */
:focus:not(.focus-visible) {
  outline: 0 none;
}

.focus-visible {
  outline: 3px solid hsla(208, 100%, 70%, 0.5);

  // outline: 1px dashed black;
  // outline-offset: 2px;
  // outline-offset: -1px;

  transition: inherit !important;
  position: relative;
  z-index: 1;
}
