/**
 * Archive spec. Ruslan Konev
 */
.-op {
  opacity: 0.5;
}

.-pointer {
  cursor: pointer;
}

/** Floats */
.-fr {
  float: right;
}

.-fl {
  float: left;
}

/** Texts */
.-text-right {
  text-align: right;
}

.-text-center {
  text-align: center;
}

.-uppercase {
  text-transform: uppercase;
}

.-extra {
  color: dark(60);
}

/** Text truncate, wrapping */
.-ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Flexable truncate stackoverflow.com/a/26535469
.-truncate {
  @extend %truncate;
}

.-nowrap {
  white-space: nowrap;
}

/** States */
// [disabled]
:not(button)[disabled] {
  pointer-events: none;
  opacity: 0.65;
  user-select: none;
  cursor: default;
}

/** Flex row X position */
.push\:left {
  margin-right: auto;
}

.push\:right {
  margin-left: auto;
}
