html,
body {
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;

  // Fonts
  font-family: $font-base;
  // fluid-type(min_width, max_width, min_font, max_font)
  // +fluid-type($sm, $xl, 1em, 1.125em);
  // line-height: 1.5;
  // color: $dark;

  text-rendering: optimizeLegibility;

  /**
   * none – сглаживание вообще отключено;
   * antialiased – средняя степень сглаживания;
   * subpixel-antialiased – сильная степень сглаживания.
   */
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  /** mobile tap color */
  -webkit-tap-highlight-color: transparent;

  /** has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  /** lets it scroll lazy */
  backface-visibility: hidden;

  /** https://codepen.io/askd/full/WdXOYW */
  /** https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView */
  scroll-behavior: smooth;

  /** https://evilmartians.com/chronicles/scroll-to-the-future-modern-javascript-css-scrolling-implementations */
  min-width: 320px;

  /** force a vertical scrollbar to prevent a jumpy page */
  // overflow-y: scroll
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  hyphens: auto;
}
