.fade-enter-active,
.fade-leave-active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.3s 0s, transform 0.3s 0s;
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  opacity: 0;
  transform: translateZ(0) scale(0.98);
  transition: visibility 0s linear 0.3s, opacity 0.3s 0s, transform 0.3s 0s;
}
