<template>
  <transition v-if="visible" name="overlay-fade">
    <div class="modal-overlay">
      <div
        id="prompt"
        class="prompt"
        role="dialog"
        aria-modal="true"
        aria-labelledby="prompt-title"
        :aria-expanded="visible.toString()"
        tabindex="-1"
      >
        <h1 id="prompt-title" class="title">
          {{ title }}
        </h1>

        <div class="content">
          {{ content }}
        </div>

        <div class="actions">
          <Button v-if="decline" :label="declineText" @click="handleDecline" />
          <Button
            v-if="accept"
            id="focusLast"
            :label="acceptText"
            color="primary"
            fill
            @click="handleAccept"
          />
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { Button } from '../Button/'
import clone from '../../utils/clone.js'

const state = {
  visible: false,
  title: 'Необходимо подтверждение',
  content: undefined,
  acceptText: 'Да',
  accept: () => false,
  declineText: 'Нет',
  decline: () => false
}

const initialState = clone(state)

export default {
  name: 'Prompt',
  components: { Button },

  data: () => ({ ...state }),

  beforeMount() {
    document.addEventListener('keydown', this.handleKeydown)
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.handleKeydown)
  },

  methods: {
    show(payload) {
      this.visible = true
      setTimeout(() => this.setupFocusable(), 50)
      Object.assign(this.$data, payload)
    },

    hide() {
      this.visible = false
      Object.assign(this.$data, initialState)
    },

    handleAccept() {
      this.hide()
      this.accept()
    },

    handleDecline() {
      this.hide()
      this.decline()
    },

    setupFocusable() {
      this.$el.querySelector('#prompt').focus()
      this.focusLast = this.$el.querySelector('#focusLast')
    },

    handleKeydown() {
      if (!this.visible) return

      if (event.keyCode === 9) {
        if (document.activeElement === this.focusLast) {
          this.$el.querySelector('#prompt').focus()
        }
      }
    }
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
