.prompt {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 32rem;
  overflow: hidden;
  border-radius: $radius;
  background-color: white;
  box-shadow: 0 0.5rem 1rem 1px rgba(black, 0.15);
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  padding: 1rem 2rem;
  border-top: 1px solid $accent;
}

.title {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.content {
  font-size: 1rem;
  margin: 1rem 0 1.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;

  > * + * {
    margin-left: 0.5rem;
  }
}

/** Transitions */
// TODO Смержить с модалкой и прочими оверлеями

/** Overlay mask */
.modal-overlay {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 1;
  backface-visibility: hidden;
  will-change: visibility, opacity;
  pointer-events: all;

  // prevent a jumpy page
  // left: calc(100vw - 100%);
}

/** Transitions */
.overlay-fade-enter-active,
.overlay-fade-leave-active {
  transition: all 0.2s ease-out;
}

.overlay-fade-enter,
.overlay-fade-leave-active {
  opacity: 0;
}
