<template>
  <div class="frame-host">
    <SpinLoader v-if="loading" />

    <div v-if="!loading && !imageDataUrl" class="messages">
      <p>
        <b>{{ errorMessage }}</b>
      </p>

      <Button
        v-if="showReload"
        label="Обновить PDF"
        size="xs"
        icon="sync"
        @click="forceReload"
      />
    </div>

    <iframe
      v-if="imageDataUrl"
      :src="imageDataUrl"
      :type="mime"
      crossorigin="anonymous"
      loading="lazy"
    />
  </div>
</template>

<script>
import readBlobFile from '../../utils/read-blob-file'
import SpinLoader from '../SpinLoader'

export default {
  name: 'DocumentPreview',

  components: { SpinLoader },

  props: {
    src: {
      type: String,
      required: true,
      default: undefined
    },
    mime: {
      type: String,
      default: 'application/pdf'
    },
    showReload: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    loading: false,
    imageDataUrl: null,
    errorMessage: null
  }),

  mounted() {
    this.fetch()
  },

  methods: {
    async fetch(params = {}) {
      // NOTE Поскольку ходим аяксом, лишний префикс `/api` из схемы выпиливаем
      const src = this.src.replace('/api', '')

      this.loading = true
      try {
        // this.imageDataUrl = await this.$model.readBlobFile(src, params)
        this.imageDataUrl = await readBlobFile(src, params)
        this.errorMessage = null
      } catch {
        this.errorMessage = 'Документ еще не подгружен и будет доступен позже'
      }
      this.loading = false
    },

    forceReload() {
      this.fetch({ forced: true })
    }
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
