.frame-host {
  flex: 1;
  display: flex;
  flex-direction: column;

  position: relative;
  min-height: 32rem;

  // цвет взят из фона браузерного плагина
  background: hsl(206, 4%, 34%);
}

iframe,
embed {
  flex: 1;
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

.messages {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  background: $highlight;
  padding: 1rem;
  text-align: center;
}
