<script>
export default {
  name: 'CodeBlock',
  props: {
    filename: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      template: this.code
    }
  },
  methods: {
    copy() {
      const { textContent } = this.$slots.default[0].elm
      console.log(textContent)
      navigator.clipboard.writeText(textContent)
    }
  },
  render() {
    return (
      <div class="code-block">
        {this.filename && <div class="filename">{this.filename}</div>}
        {this.$slots.default}
        <button onClick={this.copy} class="btn-copy">
          Copy
        </button>
      </div>
    )
  }
}
</script>

<style lang="scss" scoped>
.code-block {
  position: relative;
}

pre {
  margin: 0;
}

.filename {
  position: absolute;
  z-index: 10;
  top: 0.75rem;
  right: 0.75rem;
  line-height: 1;
  color: dark(50);
}

.btn-copy {
  position: absolute;
  z-index: 1;
  bottom: 0.75rem;
  right: 0.75rem;
  background: none;
  color: tint($color-primary, 60);
  border: 1px solid;
  font-size: 0.75rem;
  line-height: 1;
  font-variant: all-small-caps;
  display: inline-flex;
  align-items: center;
  visibility: hidden;

  &:hover {
    color: aliceblue;
  }
}

.code-block:hover .btn-copy {
  visibility: visible;
}
</style>
