<script>
import VueDist from 'vue/dist/vue.common.js'
import Prism from 'prismjs'
import { PrismEditor } from 'vue-prism-editor'
// import 'vue-prism-editor/dist/prismeditor.min.css'
// import CodeBlock from './CodeBlock'

export default {
  name: 'EditorLive',
  components: { PrismEditor },
  props: {
    code: {
      type: String,
      default: ''
    },
    lang: {
      type: String,
      default: 'html'
    }
  },
  data() {
    return {
      template: this.code
    }
  },
  computed: {
    compiled() {
      return VueDist.compile(this.template).render
    }
  },
  methods: {
    highlighter(code) {
      return Prism.highlight(code, Prism.languages[this.lang], this.lang)
    }
  },
  render() {
    const Component = this.compiled()
    return (
      <div class="editor-live">
        <div class="editor-live-preview">{Component}</div>
        <div class="editor-heading">Editable Example</div>
        <CodeBlock>
          <prism-editor vModel={this.template} highlight={this.highlighter} />
        </CodeBlock>
      </div>
    )
  }
}
</script>

<style lang="scss">
.editor-live {
  border-radius: 0.25rem;
  overflow: hidden;
  margin: 2rem auto;
  border: 1px solid tint($editor-bg-color, 60);
}

.editor-heading {
  background: hsl(219, 24%, 37%);
  font-size: 0.875rem;
  color: dark(40);
  padding: 0.375rem 1.5rem;
  font-variant: all-small-caps;
  line-height: 1;
  letter-spacing: 0.25em;
}

.editor-live-preview {
  padding: 2rem;

  &:empty {
    background-color: dark(8);
    text-align: center;
    padding: 0.5rem 1.5rem;

    &::after {
      content: 'Возможно, этот компонент не виден, пока его не вызвать...';
    }
  }
}
</style>
