<template>
  <div class="story">
    <textarea
      v-if="showEditor"
      v-model="storiesData.contents"
      spellcheck="false"
      @input="compileContents()"
    />
    <main v-if="showView" :id="storyClassName" class="docs-main">
      <component
        :is="storiesData.compiled"
        class="docs-article"
        @hook:mounted="handleMounted"
      />
    </main>
  </div>
</template>

<script>
export default {
  name: 'StoryMarkdown',
  data() {
    return {
      storiesData: {},
      socketStatus: {}
    }
  },
  computed: {
    showEditor() {
      return this.viewMode !== 'view'
    },
    showView() {
      return this.viewMode !== 'edit'
    },
    viewMode() {
      return this.$store.state && this.$store.state.$nuxtStories
        ? this.$store.state.$nuxtStories.viewMode
        : ''
    },
    storyClassName() {
      return this.$route.path
        .split('/')
        .slice(3)
        .join('')
    }
  },
  watch: {
    '$route.hash'(hash) {
      console.log(decodeURIComponent(hash))
      if (hash) {
        const posY = document.querySelector(decodeURIComponent(hash)).offsetTop
        window.scrollTo(0, posY)
      }
    }
  },
  mounted() {
    this.$nuxtStories()
  },
  methods: {
    handleMounted() {
      const { hash } = this.$route
      if (hash) {
        const posY = document.querySelector(decodeURIComponent(hash)).offsetTop
        window.scrollTo(0, posY)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.story {
  display: flex;
  margin: 0;
  height: 100%;
}

textarea,
main {
  flex: 1;
  padding: 0 1rem;
}

textarea {
  vertical-align: top;
  resize: vertical;
  outline: none;
  border: none;
  font-size: 0.875em;
  line-height: 1.5;
  font-family: $font-code;
  padding: 1rem;
}
</style>
