<template>
  <header class="docs-header">
    <h1 class="brand-heading">{{ $SITE_NAME}} <sup>v {{ $VERSION }}</sup></h1>

    <div class="docs-header-center">

      <input type="search" class="docs-search" placeholder="Search"></input>
      <!-- <StoriesSearch /> -->
    </div>

    <div class="docs-header-aside">
      <nav v-if="!$PRODUCTION" class="button-group">
        <button
          v-for="mode in modes"
          :key="mode"
          :class="modeActive(mode) ? 'is-active' : ''"
          @click="setViewMode(mode)"
        >
          <component :is="`icon-${mode}`" />
        </button>
      </nav>
    </div>
  </header>
</template>

<script>
import IconEdit from '~/assets/svg/edit.svg'
import IconSplit from '~/assets/svg/split.svg'
import IconView from '~/assets/svg/show.svg'

export default {
  components: { IconEdit, IconSplit, IconView },
  data() {
    return {
      modes: ['edit', 'split', 'view'],
    }
  },
  computed: {
    brandLink() {
      return this.$nuxtStories
        ? `/${this.$nuxtStories.options.storiesAnchor}`
        : ''
    },
    modeActive() {
      return mode => this.$store.state && this.$store.state.$nuxtStories
        ? mode === this.$store.state.$nuxtStories.viewMode
        : false
    },
  },
  methods: {
    setViewMode(mode) {
      this.$store.commit('$nuxtStories/SET_VIEW_MODE', mode)
    }
  }
}
</script>

<style lang="scss" scoped>


.docs-header-center {
  display: flex;
  align-items: stretch;
}

.button-group {
  display: flex;
  height: 100%;
}

button {
  width: 3.6875rem;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.15);

  &:first-child {
    border-radius: $radius 0 0 $radius;
  }

  &:last-child {
    border-radius: 0 $radius $radius 0;
  }

  & + button {
    margin-left: 2px;
  }

  svg {
    fill: hsla(0, 0%, 100%, 0.75)
  }

  &.is-active {
    background-color: $primary;

    svg {
      fill: #fff
    }
  }
}



</style>
