<template>
  <footer class="docs-footer">
    <div>
      <span>&copy; 2019&mdash;{{ new Date().getFullYear() }} OZON</span>
    </div>

    <div>
      <span><s>Painless</s> Storybooking for Nuxt</span>
      <button
        class="docs-color-mode"
        aria-label="Color Mode"
        @click="
          $colorMode.value === 'dark'
            ? ($colorMode.preference = 'light')
            : ($colorMode.preference = 'dark')
        "
      >
        <client-only>
          <IconSun v-if="$colorMode.value === 'light'" />
          <IconMoon v-else />
        </client-only>
      </button>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'StoriesFooter'
  // data: () => ({ socketStatus: {} })
}
</script>

<style lang="scss" scoped>
.docs-color-mode {
  height: 1.25rem;
  // height: 100%;
  display: flex;
  border: 0;
  background: none;
  margin-left: 1rem;
  padding: 0;
}
</style>
