<template>
  <div class="docs-search-container">
    <div @keydown.down="increment" @keydown.up="decrement" @keydown.enter="go">
      <label for="search" hidden>Search</label>
      <input
        id="search"
        ref="search"
        v-model="q"
        class="docs-search"
        :class="{ 'rounded-b-none': focus && (searching || results.length) }"
        placeholder="Нажмите / для активации поиска..."
        type="search"
        autocomplete="off"
        @focus="onFocus"
        @blur="onBlur"
      />
    </div>

    <!-- <ul
      v-show="focus && (searching || results.length)"
      class="docs-search-result"
    >
      <li v-if="searching && !results.length">
        Поиск...
      </li>
      <li
        v-for="(result, index) of results"
        :key="result.slug"
        :class="{ 'is-hover': focusIndex === index }"
        @mouseenter="focusIndex = index"
        @mousedown="go"
      >
        <NuxtLink :to="result.path.replace('/ru', '')" @click="focus = false">
          <b v-if="result.category">{{ result.category }}</b>
          {{ result.title }}
        </NuxtLink>
      </li>
    </ul> -->
  </div>
</template>

<script>
export default {
  name: 'StoriesSearch',
  data() {
    return {
      q: '',
      focus: false,
      focusIndex: -1,
      open: false,
      searching: false,
      results: []
    }
  },
  watch: {
    async q(q) {
      this.focusIndex = -1
      if (!q) {
        this.searching = false
        this.results = []
        return
      }
      this.searching = true
      // console.log(this.$store.state.$nuxtStories.stories)
      this.$store.dispatch('$nuxtStories/SEARCH', q)
      // const flat = this.$store.getters['$nuxtStories/flatStories']
      // console.log({ flat })
      // this.results = await this.$content(this.$i18n.locale, { deep: true })
      //   .sortBy('position', 'asc')
      //   .only(['title', 'slug', 'category', 'to'])
      //   .limit(12)
      //   .search(q)
      //   .fetch()
      this.searching = false
    }
  },
  mounted() {
    window.addEventListener('keyup', this.keyup)
  },
  beforeDestroy() {
    window.removeEventListener('keyup', this.keyup)
  },
  methods: {
    onFocus() {
      this.focus = true
      this.$emit('focus', true)
    },
    onBlur() {
      this.focus = false
      this.$emit('focus', false)
    },
    keyup(e) {
      if (e.key === '/') {
        this.$refs.search.focus()
      }
    },
    increment() {
      if (this.focusIndex < this.results.length - 1) {
        this.focusIndex++
      }
    },
    decrement() {
      if (this.focusIndex >= 0) {
        this.focusIndex--
      }
    },
    go() {
      if (this.results.length === 0) {
        return
      }
      const result =
        this.focusIndex === -1 ? this.results[0] : this.results[this.focusIndex]
      this.$router.push(result.path.replace('/ru', ''))
      // Unfocus the input and reset the query.
      this.$refs.search.blur()
      this.q = ''
    }
  }
}
</script>
