<template>
  <nav aria-label="Breadcrumbs" class="breadcrumbs">
    <span
      v-for="({ to, text }, idx) in items"
      :key="`${idx}=${text}`"
      class="item"
    >
      <NuxtLink :to="to" class="link" exact>{{ text }}</NuxtLink>
    </span>
  </nav>
</template>

<script>
export default {
  computed: {
    items() {
      const items = [
        { text: 'Home', to: '/' },
        { text: 'Stories', to: '' }
      ]
      let crumbPath

      if (this.$nuxtStories) {
        crumbPath = `/${this.$nuxtStories.options.storiesAnchor}`
        items[1].to = crumbPath
      }

      const crumbs = this.$route.path.split('/').slice(2)

      crumbs.forEach((crumb, idx) => {
        crumbPath += `/${crumb}`
        if (idx === 0) {
          return
        }
        items.push({
          text: crumb,
          to: crumbPath
        })
      })
      return items
    }
  }
}
</script>

<style lang="scss" scoped>
.breadcrumbs {
  display: inline-flex;
  align-items: center;
  height: 3rem;
  padding: 1rem;
  border-bottom: $border;
}

.item + .item {
  margin-left: 0.5rem;

  &::before {
    display: inline-block;
    content: '/';
    margin-right: 0.5rem;
  }
}

.nuxt-link-active {
  font-weight: bold;
}
</style>
