<template>
  <nav class="docs-toc-nav">
    <h4 class="docs-toc-heading">На этой странице</h4>
    <ul>
      <li
        v-for="(item, idx) in toc"
        :key="item.text + idx"
        class="toc-entry"
        :class="itemClass(item)"
      >
        <a :href="item.href" class="nav-link">
          {{ item.text }}
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  computed: {
    toc() {
      return this?.$store?.state?.$nuxtStories?.toc || []
    },
    itemClass() {
      return item => `toc-h${item.depth}`
    }
  }
}
</script>

<style lang="scss" scoped>
.docs-toc-nav {
  position: fixed;
  width: $aside-width - 2rem;
  margin: 0.5rem 1rem;
}

.docs-toc-heading {
  margin: 0.5rem 0 1rem;
  font-size: inherit;
  font-weight: normal;
  font-variant: all-small-caps;
  color: $color-subheading;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.5rem 0;
  line-height: 1.4;
}

.toc-h3 {
  padding-left: 1rem;
  font-size: 0.8125rem;

  // &::before {
  //   content: '•';
  // }
}

.toc-h3 + .toc-h2 {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: $dark;
}
</style>
