<template>
  <nav id="docs-nav" class="docs-nav" aria-label="Main navigation">
    <ul>
      <li
        v-for="group in sorted(stories)"
        :key="group.name"
        :class="{ 'is-edit': group.isEdit }"
      >
        <!-- v-click-outside="handlecClickOutside(group)" -->
        <div class="nav-item category">
          <NuxtLink :to="group.to">{{ group.title }}</NuxtLink>

          <button
            v-if="!$PRODUCTION"
            class="nav-menu-toggle"
            @click="toggleMenu(group)"
          >
            <IconMore />
          </button>

          <StoryNavItem
            v-if="group.isEdit"
            :story="group"
            :crud="showCRUD"
            :level="0"
            @click.stop
          />
        </div>

        <ul>
          <li
            v-for="children in sorted(group.children || [])"
            :key="children.name"
            :class="{ 'is-edit': children.isEdit }"
          >
            <div class="nav-item children">
              <NuxtLink :to="children.to" exact>{{ children.title }}</NuxtLink>

              <button
                v-if="!$PRODUCTION"
                class="nav-menu-toggle"
                @click="toggleMenu(children)"
              >
                <IconMore />
              </button>

              <StoryNavItem
                v-if="children.isEdit"
                :story="children"
                :crud="showCRUD"
                :level="1"
              />
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapState } from 'vuex'
import { sortStories } from '../utils/sort'
import IconMore from '~/assets/svg/more.svg'

export default {
  components: { IconMore },
  computed: {
    ...mapState({
      stories: state => {
        return state && state.$nuxtStories ? state.$nuxtStories.stories : []
      }
    }),
    sorted() {
      return sortStories
    },
    showCRUD() {
      return !this.$nuxtStories.options.staticHost
    }
  },
  methods: {
    toggleMenu(item) {
      const staticHost = this.$store.state.$nuxtStories?.options?.staticHost
      if (!staticHost) {
        this.$store.commit('$nuxtStories/SET_STORY_DATA', {
          idxs: item.idxs,
          data: { isEdit: !item.isEdit }
        })
      }
    }
    // handlecClickOutside(item) {
    //   console.log(item.isEdit)
    // }
  }
}
</script>

<style lang="scss" scoped>
.docs-nav {
  padding: 0.75rem 1rem 6rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul ul {
  margin-bottom: 0.5rem;
}

li + li {
  margin-top: 0.25rem;
}

.nav-item {
  position: relative;

  a {
    display: block;
    line-height: 2;
    text-decoration: none;
    color: $dark;
  }
}

.children a {
  padding-left: 1rem;
}

a.nuxt-link-active {
  font-weight: bold;
  background: tint($color-primary, 85);
  border-radius: $radius-sm;
}

.category > a {
  font-weight: normal;
  font-variant: all-small-caps;
  color: $color-subheading;

  &.nuxt-link-active {
    background: none;
  }
}

button {
  border: none;
  background: none;
  margin-right: 0.5rem;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.nav-menu-toggle {
  position: absolute;
  top: 0.125rem;
  right: -0.5rem;
  visibility: hidden;
}

li.is-edit {
  outline: 1px dotted $primary;
  outline-offset: 4px;

  .nav-menu-toggle {
    visibility: visible;
  }
}

.nav-item:hover .nav-menu-toggle {
  visibility: visible;
}

.goto-home {
  position: fixed;
  bottom: 3rem;
}
</style>
