<template>
  <div class="docs-container">
    <aside class="docs-nav-sidebar">
      <StoryNav />

      <div v-if="!$PRODUCTION" class="btn-create">
        <Button
          icon="plus"
          color="primary"
          label="Добавить"
          fill
          block
          @click="$store.dispatch('$nuxtStories/ADD')"
        />
      </div>
    </aside>

    <StoryContent id="docs-content" />

    <aside
      class="docs-toc-sidebar"
      aria-label="Secondary navigation"
      aria-hidden="true"
    >
      <StoryToc />
    </aside>
  </div>
</template>

<style lang="scss" scoped>
.btn-create {
  position: fixed;
  z-index: 10;
  bottom: 2rem;
  width: $aside-width;
  padding: 2rem 1rem 1rem;
  background: linear-gradient(0deg, $color-light 60%, rgba($color-light, 0));
  display: block;
}

.dark-mode .btn-create {
  background: linear-gradient(
    0deg,
    $dark-mode-color-dark 60%,
    rgba($dark-mode-color-dark, 0)
  );
}
</style>
