<template>
  <div v-show="story.isEdit" class="nav-item-menu">
    <template v-if="story.rename">
      <input
        v-model="newName"
        class="new-name"
        v-focus
        @keyup.enter="handleRename"
      />

      <div class="actions">
        <Button
          icon="check"
          size="sm"
          color="success"
          title="Подтвердить"
          @click="handleRename"
        />

        <Button
          icon="undo"
          size="sm"
          color="secondary"
          title="Отменить"
          @click="setStoryData({ rename: false })"
        />
      </div>
    </template>

    <template v-else-if="story.remove">
      <Button
        icon="check"
        size="sm"
        color="success"
        title="Подтвердить"
        @click="$store.dispatch('$nuxtStories/REMOVE', story)"
      />

      <Button
        icon="undo"
        color="secondary"
        title="Отменить"
        @click="setStoryData({ remove: false })"
      />
    </template>

    <template v-else-if="crud">
      <div class="actions">
        <Button
          v-if="level < depth - 1"
          icon="plus"
          size="sm"
          color="primary"
          title="Добавить"
          class="option"
          @click="$store.dispatch('$nuxtStories/ADD', story)"
        />

        <Button
          icon="edit"
          size="sm"
          color="secondary"
          title="Редактировать"
          @click="setStoryData({ rename: true })"
        />

        <Button
          icon="remove"
          size="sm"
          color="accent"
          title="Удалить"
          @click="setStoryData({ remove: true })"
        />
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    story: {
      type: Object,
      default: () => ({})
    },
    level: {
      type: Number,
      default: () => 0
    },
    depth: {
      type: Number,
      default: () => 2
    },
    crud: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      newName: ''
    }
  },
  mounted() {
    this.newName = this.story.name
  },
  methods: {
    handleRename() {
      const { story, newName } = this
      this.$store.dispatch('$nuxtStories/RENAME', { story, newName })
    },
    setStoryData(data) {
      this.$store.commit('$nuxtStories/SET_STORY_DATA', {
        idxs: this.story.idxs,
        data
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.nav-item-menu {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
}

input {
  border: none;
  padding: 0.3125rem;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 24px);
  // background-color: $light;
}

.actions {
  display: flex;
  width: 100%;

  > * {
    flex: 1;
  }
}
</style>
