<template>
  <div class="list-wrapper">
    <div class="title">{{ title }}</div>
    <div class="list">
      <div
        v-for="(val, idx) in list"
        :key="idx"
        :class="{ selected: val === selectedValue }"
        @click="handleClick(val)"
      >
        {{ String(val).padStart(2, '0') }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    list: {
      type: Array,
      default: _ => [],
    },
    selectedValue: {
      type: Number,
      default: undefined,
    },
  },
  methods: {
    handleClick(val) {
      this.$emit('click', val)
    },
  },
}
</script>

<style lang="scss" scoped>
$title-height: 1rem;

.list-wrapper {
  width: 100%;
  background: #ffffff;
  font-size: 0.85rem;
}

.title {
  height: $title-height;
  text-align: center;
  font-weight: 700;
}

.list {
  overflow: scroll;
  padding-top: 0.5rem;
  max-height: calc(100% - #{$title-height});
  div {
    margin-top: 0.1rem;
    cursor: pointer;
    text-align: center;
    &:hover {
      color: $primary;
    }
  }
}

.selected {
  color: $primary;
}
</style>