
<template>
  <th>
    <div class="week-day-wrapper">
      {{ day }}
    </div>
  </th>
</template>

<script>
export default {
  props: {
    day: {
      type: String,
      default: () => ''
    }
  }
}
</script>

<style lang="scss" scoped>
.week-day-wrapper {
  color: $grey;
}
th {
  border: none;
}
</style>