<template>
  <div class="header-wrapper">
    <div class="month-header">
      <div class="arrow arrow-left" @click="toggleMonth(-1)" />
      <div class="month-content">
        <div>
          <span @click="toggleMonthList" class="header-months">{{
            fullMonth
          }}</span>
          <DataList
            v-show="showMonths"
            :data-list="monthList"
            @click-item="item => changeMonth(item)"
            v-click-outside="handleClickOutside"
          />
        </div>
        <div>
          <span @click="toggleYearList" class="header-years">{{ year }}</span
          ><DataList
            v-show="showYears"
            :data-list="yearList"
            @click-item="item => changeYear(item)"
            v-click-outside="handleClickOutside"
          />
        </div>
      </div>
      <div class="arrow arrow-right" @click="toggleMonth(1)" />
    </div>
  </div>
</template>

<script>
import DataList from '../DataList'
import clickoutside from '../../directives/clickoutside'

const MONTHS = [
  'Январь',
  'Февраль',
  'Март',
  'Апрель',
  'Май',
  'Июнь',
  'Июль',
  'Август',
  'Сентябрь',
  'Октябрь',
  'Ноябрь',
  'Декабрь'
]
export default {
  components: { DataList },
   directives: {
    'click-outside': clickoutside
  },
  props: {
    year: {
      type: Number,
      default: () => 1970
    },
    month: {
      type: Number,
      default: () => 0
    }
  },
  data() {
    return {
      monthList: MONTHS.reduce((acc, curr, idx) => {
        acc.push({
          label: curr,
          value: idx
        })
        return acc
      }, []),
      yearList: [...Array(new Date().getFullYear() - 1970 + 1)].reduce(
        (acc, curr, idx) => {
          acc.push({
            label: 1970 + idx,
            value: 1970 + idx
          })
          return acc
        },
        []
      ),
      showMonths: false,
      showYears: false
    }
  },
  computed: {
    fullMonth() {
      return MONTHS[this.month]
    }
  },
  methods: {
    toggleMonth(direction) {
      this.$emit('toggleMonth', direction)
    },
    toggleMonthList() {
      this.showMonths = !this.showMonths
      this.showYears = false
    },
    toggleYearList() {
      this.showYears = !this.showYears
      this.showMonths = false
    },
    handleClickOutside(e) {
      if (this.showMonths && e.target.className !== 'header-months')
        this.showMonths = false
      if (this.showYears && e.target.className !== 'header-years')
        this.showYears = false
    },
    changeMonth(month) {
      this.$emit('changeMonth', month.value)
    },
    changeYear(year) {
      this.$emit('changeYear', year.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.header-wrapper {
  position: relative;
}
.month-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  border-bottom: 1px solid $grey;
}

.month-content {
  display: flex;
  align-items: center;
  > div span {
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  > div:last-child {
    margin-left: 0.5rem;
  }
}

.arrow {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 2px solid $grey;
  border-right: 2px solid $grey;
  cursor: pointer;
  &:hover {
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
  }
}

.arrow-left {
  transform: rotate(-135deg);
}

.arrow-right {
  transform: rotate(45deg);
}
</style>