<template>
  <table>
    <thead>
      <DatePickerWeekHeader
        v-for="(day, index) in daysInWeek"
        :key="index"
        :day="day"
      />
    </thead>
    <tbody @mouseleave="handleMouseLeave">
      <DatePickerWeek
        v-for="(week, index) in daysPerMonth"
        :key="index"
        :week="week"
        @selectDate="selectDate"
        @handleDayMouseOver="handleDayMouseOver"
      />
    </tbody>
  </table>
</template>

<script>
import DatePickerWeekHeader from './DatePickerWeekHeader'
import DatePickerWeek from './DatePickerWeek'
export default {
  components: { DatePickerWeekHeader, DatePickerWeek },
  props: {
    daysPerMonth: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      daysInWeek: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
    }
  },
  methods: {
    selectDate(date) {
      this.$emit('selectDate', date)
    },
    handleDayMouseOver(date) {
      this.$emit('handleDayMouseOver', date)
    },
    handleMouseLeave() {
      this.$emit('handleDayMouseOver', undefined)
    }
  }
}
</script>

<style lang="scss" scoped>
table {
  border-collapse: unset;
  font-size: 0.7rem !important;
}
thead {
  border: none;
}
.is-equal ~ .hovering {
  border: 1px solid red;
}
</style>