<template>
  <td
    :class="{
      'is-between': date.between,
      'is-equal': date.equal,
      'is-another-month': date.isAnotherMonth,
      'can-be-hovered': !(date.between || date.equal) && !date.isAnotherMonth,
      highlight: date.needHover
    }"
    @mouseover="handleDayMouseOver(date.value)"
    @click="selectDate(date.value)"
  >
    <div v-show="date.value">
      {{ new Date(date.value).getDate() }}
    </div>
  </td>
</template>

<script>
export default {
  props: {
    date: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return { isHovering: false }
  },
  methods: {
    selectDate(date) {
      this.$emit('selectDate', date)
    },
    handleDayMouseOver(date) {
      this.$emit('handleDayMouseOver', date)
    }
  }
}
</script>

<style lang="scss" scoped>
.is-equal {
  color: #ffffff;
  background: $primary;
  border: 1px solid $primary;
  border-radius: $radius-lg;
}
.is-between {
  background: tint($color-primary, 90);
  border: 1px solid tint($color-primary, 90);
}

.is-another-month {
  color: $grey;
  background: #ffffff;
  border: 1px solid #ffffff;
}

td {
  background: none;
  cursor: pointer;
  border: 1px solid #ffffff;
  text-align: center;
}
td.can-be-hovered {
  &:hover {
    background: tint($color-primary, 90);
    border: 1px solid tint($color-primary, 90);
    transition: background-color 0.5s ease-out;
    border-radius: $radius-lg;
  }
}
.highlight {
  color: $primary;
}
</style>