<template>
  <tr>
    <DatePickerDay
      v-for="(date, index) in week"
      :key="index"
      :date="date"
      @selectDate="selectDate"
      @handleDayMouseOver="handleDayMouseOver"
    />
  </tr>
</template>

<script>
import DatePickerDay from './DatePickerDay'
export default {
  components: { DatePickerDay },
  props: {
    week: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    selectDate(date) {
      this.$emit('selectDate', date)
    },
    handleDayMouseOver(date) {
      this.$emit('handleDayMouseOver', date)
    }
  }
}
</script>

<style lang="scss" scoped>
tr {
  &:hover {
    background: none;
  }
}
</style>