<template>
  <div style="width: fit-content" v-click-outside="handleClickOutside">
    <div
      tabindex="1"
      class="calendar-input"
      :class="{ wide: !singleMode && dateTimeMode }"
      @click="toggleIsOpen"
    >
      <span>
        {{ output || (singleMode ? 'Выберите дату' : 'Выберите даты') }}
      </span>
      <component :is="icon" @click.stop="handleIconClick" />
    </div>
    <div v-show="isOpen" class="calendar-wrapper">
      <div v-if="!showTimeList" class="page-list-wrapper">
        <div v-for="page in pagesCount" :key="page" class="page-wrapper">
          <DatePickerMonthHeader
            :year="dateService.yearList[page - 1]"
            :month="dateService.monthList[page - 1]"
            @toggleMonth="
              direction =>
                dateService.toggleMonth(
                  page - 1,
                  dateService.monthList[page - 1] + Number(direction)
                )
            "
            @changeMonth="month => dateService.toggleMonth(page - 1, month)"
            @changeYear="
              year =>
                dateService.toggleMonth(page - 1, monthList[page - 1], year)
            "
          />
          <DatePickerMonth
            :days-per-month="daysPerMonthList[page - 1]"
            @selectDate="selectDate"
            @handleDayMouseOver="handleDayMouseOver"
          />
        </div>
      </div>
      <div v-else class="time-list-wrapper">
        <div
          v-for="(field, idx) in singleMode
            ? ['dateSingle']
            : ['dateStart', 'dateEnd']"
          :key="idx"
          class="time-wrapper"
        >
          <DatePickerTime
            :list="dateService.hours"
            :selected-value="dateService[field].getHours()"
            title="Часы"
            @click="val => handleSelectTime(field, 'hours', val)"
          />
          <DatePickerTime
            :list="dateService.minutes"
            :selected-value="dateService[field].getMinutes()"
            title="Минуты"
            @click="val => handleSelectTime(field, 'minutes', val)"
          />
        </div>
      </div>
      <div v-if="dateTimeMode" class="select-wrapper" @click="toggleShowTime">
        <span :class="{ active: !!output }">{{
          dateTimeMode && showTimeList ? 'Выбрать дату' : 'Выбрать время'
        }}</span>
        <Button label="OK" color="primary" @click="toggleIsOpen" />
      </div>
    </div>
  </div>
</template>

<script>
import DatePickerMonthHeader from './DatePickerMonthHeader'
import DatePickerMonth from './DatePickerMonth'
import DatePickerTime from './DatePickerTime'
import DateService from './date-service'
import { convertToLocaleString } from './utils'
import IconDatepicker from '../../svg/datepicker.svg'
import IconCancel from '../../svg/cancel.svg'
import clickoutside from '../../directives/clickoutside'

export default {
  name:'DatePicker',
  directives: {
    'click-outside': clickoutside
  },
  components: {
    DatePickerMonth,
    DatePickerMonthHeader,
    DatePickerTime,
    IconDatepicker,
    IconCancel,
  },
  model: {
    prop: 'value',
    event: 'select-date',
  },
  props: {
    value: {
      type: Object,
      default: _ => ({}),
    },
    pages: {
      type: Number,
      default: () => 2,
    },
    singleMode: {
      type: Boolean,
      default: false,
    },
    dateTimeMode: {
      type: Boolean,
      default: false,
    },
    currYear: {
      type: Number,
      default: () => new Date().getFullYear(),
    },
    currMonth: {
      type: Number,
      default: () => new Date().getMonth(),
    },
  },
  data() {
    const pagesCount = this.singleMode ? 1 : this.pages
    const dateService = new DateService(this.singleMode, this.dateTimeMode)
    dateService.setYearList(this.currYear, pagesCount)
    dateService.setMonthList(this.currMonth, pagesCount)
    return {
      dateService,
      pagesCount,
      isOpen: false,
      showTimeList: false,
      icon: IconDatepicker,
      direction: 1,
      output: undefined,
    }
  },
  computed: {
    // Дни недели для каждого месяца
    daysPerMonthList() {
      const daysPerMonthList = []
      for (let i = 0; i < this.pages; i++) {
        daysPerMonthList[i] = this.dateService.getDaysPerMonth(i)
      }
      return daysPerMonthList
    },
  },
  methods: {
    // Выбор интервала дат
    selectDate(date) {
      const { complete } = this.dateService.selectDates(date)
      if (complete) {
        this.handleOutput()
        this.icon = IconCancel
        !this.dateService.dateTimeMode && this.toggleIsOpen()
      }
    },
    // Дата над которой курсор мыши
    handleDayMouseOver(date) {
      this.dateService.dateFocused = date
    },
    // Открыть-закрыть календарь
    toggleIsOpen() {
      this.isOpen = !this.isOpen
      if (!this.isOpen && this.dateTimeMode) this.showTimeList = false
    },
    // Клик вне календаря
    handleClickOutside() {
      this.isOpen && this.toggleIsOpen()
    },
    // Клик на иконку
    handleIconClick() {
      if (this.icon === IconCancel) {
        const result = this.dateService.clearState()
        this.output = undefined
        this.icon = IconDatepicker
        this.$emit('select-date', result)
      } else {
        this.toggleIsOpen()
      }
    },
    // Показать выбор времяни/даты в режиме с выбором временеи @dateTimeMode
    toggleShowTime() {
      if (
        (this.dateService.dateStart && this.dateService.dateEnd) ||
        this.dateService.dateSingle
      )
        this.showTimeList = !this.showTimeList
    },
    // Выбор времени
    handleSelectTime(field, type, value) {
      if (type === 'hours') {
        this.dateService[field].setHours(value)
      } else {
        this.dateService[field].setMinutes(value)
      }
      this.handleOutput()
    },
    // Результат в emit и инпут календаря
    handleOutput() {
      if (this.singleMode) {
        const date = convertToLocaleString(
          this.dateService.dateSingle,
          this.dateTimeMode
        )
        this.$emit('select-date', { date })
        this.output = date
        return
      }
      const dateStart = convertToLocaleString(
        this.dateService.dateStart,
        this.dateTimeMode
      )
      const dateEnd = convertToLocaleString(
        this.dateService.dateEnd,
        this.dateTimeMode
      )
      if (dateStart && dateEnd) {
        this.$emit('select-date', {
          dateStart,
          dateEnd,
        })
        this.output = `${dateStart} - ${dateEnd}`
        return
      }
      this.output = undefined
      this.icon = IconDatepicker
    },
  },
}
</script>

<style lang="scss" scoped>
.calendar-input {
  border: 1px solid $grey;
  border-radius: $radius-lg;
  width: 11.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  font-size: 0.875em;
}
.wide {
  width: 16.5rem;
}
.calendar-wrapper {
  position: absolute;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  width: fit-content;
  margin-top: 0.5rem;
  box-shadow: -1.3rem 1rem 1.2rem -1rem rgba(0, 0, 0, 0.75);
  border: 1px solid #ffffff;
  border-radius: $radius-lg;
  overflow: hidden;
  background: #ffffff;
  table {
    border: none;
  }
}

.page-list-wrapper {
  display: flex;
  flex-direction: row;
}

.page-wrapper {
  width: 18rem;
  height: 18rem;
}

.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  border-top: 1px solid $grey;
  span {
    cursor: not-allowed;
  }
  span.active {
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
}

.time-list-wrapper {
  display: flex;
  flex-direction: row;
}

.time-wrapper {
  display: flex;
  flex-direction: row;
  height: 18rem;
  width: 18rem;
  background: $grey;
  > div:nth-child(even) {
    margin-left: 0.2rem;
  }
}
</style>