<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>{{ ENV.SITE_NAME }}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=00aQbwanjw" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=00aQbwanjw" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=00aQbwanjw" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=00aQbwanjw" color="#015aff" />
  <link rel="shortcut icon" href="/favicon.ico?v=00aQbwanjw" />

  <!-- <link rel="manifest" href="/site.webmanifest?v=00aQbwanjw"> -->

  <meta name="apple-mobile-web-app-title" content="{{ ENV.APP_NAME }}">
  <meta name="application-name" content="{{ ENV.APP_NAME }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  {{ HEAD }}
  <link rel="preload" as="script" href="https://unpkg.com/focus-visible@4.1.5/dist/focus-visible.min.js">
  <link rel="preload" as="script" href="https://unpkg.com/resize-observer@1.0.0/dist/resize-observer.min.js">

</head>

<body {{ BODY_ATTRS }}>
  {{ APP }}

  <script src="https://unpkg.com/focus-visible@4.1.5/dist/focus-visible.min.js"></script>
  <script src="https://unpkg.com/resize-observer@1.0.0/dist/resize-observer.min.js"></script>
</body>

</html>
