<script>
/**
 * Отображает json в <textarea readonly>
 * Высота <textarea> устанавливается автоматически
 * При монтировании компонента устанавливается фокус
 */
export default {
  name: 'JsonReader',
  props: {
    data: {
      type: [Object, Array],
      require: true,
      default: () => ({})
    }
  },
  computed: {
    json() {
      return JSON.stringify(this.data, null, '  ')
    },
    rows() {
      return (this.json.match(/\n/g) || '').length + 1
    }
  },
  render() {
    return (
      <textarea
        vFocus
        class="json-reader"
        value={this.json}
        rows={this.rows}
        readonly
        aria-readonly="true"
      />
    )
  }
}
</script>

<style lang="scss">
.json-reader {
  width: 100%;
  height: 100%;
  @extend %code-editor;
  border: none;
}
</style>
