<!-- eslint-disable vue/no-v-html -->
<template>
  <transition v-if="visible" name="overlay-fade">
    <div :name="name" class="modal-overlay" @click.self="close">
      <!-- v-click-outside="handleClickOutside" -->
      <div
        ref="focusFirst"
        role="dialog"
        aria-modal="true"
        aria-labelledby="modalLabel"
        :aria-expanded="visible.toString()"
        class="modal-container"
        :class="{ 'theme-dark': modal.theme == 'dark' || modal.type == 'json' }"
        :style="{ height, maxWidth: modal.width }"
        tabindex="-1"
      >
        <header class="modal-header">
          <slot name="header">
            <h2 id="modalLabel" class="title" v-html="modal.title" />
          </slot>
        </header>

        <div class="modal-body" :class="modal.type">
          <slot v-if="!jsonData && !componentProps" />
          <component :is="component" v-bind="{ ...componentProps }" />
          <JsonReader v-if="jsonData" :data="jsonData" />
          <DocumentPreview v-if="src" :src="src" show-reload />
        </div>

        <footer class="modal-footer">
          <slot name="footer" />
        </footer>

        <button ref="focusLast" class="c-close" @click="close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
            />
          </svg>
        </button>
      </div>
    </div>
  </transition>
</template>

<script>
import clone from '../../utils/clone.js'
import plugin from './index.js'

const state = {
  component: null,
  componentProps: null,
  jsonData: null,
  src: null
}

const initialState = clone(state)

export default {
  name: 'Modal',

  components: {
    JsonReader: () => import('./JsonReader'),
    DocumentPreview: () => import('../DocumentPreview')
  },

  props: {
    disableOverlayClose: {
      type: Boolean,
      default: false
    },
    value: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: 'root'
    },
    width: {
      type: String,
      default: '60rem'
    },
    height: {
      type: String,
      default: 'auto'
    },
    title: {
      type: String,
      default: 'Детали документа'
    },
    type: {
      type: String,
      default: 'html'
    },
    theme: {
      type: String,
      default: undefined
    }
  },

  data() {
    const { width, height, title, type } = this.$props

    return {
      visible: false,
      ...state,

      // Local props via passed props
      modal: { width, height, title, type }
    }
  },

  computed: {
    modalName() {
      return `toggle:${this.name}`
    }
  },

  // NOTE В некоторых кейсах может понадобиться открыть окно
  // без ивент хэндлера, просто наблюдая некие свойства
  watch: {
    value(val) {
      val ? this.open() : this.close()
    }
  },

  beforeMount() {
    plugin.event.$on(this.modalName, this.handleToggle)
    document.addEventListener('keydown', this.handleKeydown)
  },
  mounted() {
    console.log(`${this.modalName} mounted`)
    // Mount Modal outside children components
    document.body.appendChild(this.$el)
  },
  beforeDestroy() {
    plugin.event.$off(this.modalName, this.handleToggle)
    document.removeEventListener('keydown', this.handleKeydown)
  },

  methods: {
    handleToggle(visible) {
      this.reset()
      visible ? this.open() : this.close()
    },
    open() {
      this.visible = true
      this.$emit('open', true)

      setTimeout(() => this.$refs.focusFirst.focus(), 50)
    },
    // handleClickOutside(e) {
    //   if (!this.disableOverlayClose) {
    //     this.close()
    //   }
    // },
    close(event) {
      if (
        event?.target?.classList.contains('modal-overlay') &&
        this.disableOverlayClose
      )
        return

      this.visible = false
      this.$emit('close', false)
      this.reset()
    },
    reset() {
      Object.assign(this.$data, initialState)
      this.setProps(this.$props)
    },
    handleKeydown() {
      if (!this.visible) return

      if (event.keyCode === 9) {
        if (document.activeElement === this.$refs.focusLast) {
          this.$refs.focusFirst.focus()
        }
      }

      if (event.keyCode === 27) this.close()
    },
    setProps(props) {
      for (const key in props) {
        this.modal[key] = props[key]
      }
    },
    /** plugin prototype methods */
    render(component, { componentProps = {}, modalProps = {} }) {
      console.log('render', component, { componentProps, modalProps })
      this.component = component
      if (componentProps) {
        this.componentProps = componentProps
      }
      if (modalProps) {
        this.setProps(modalProps)
      }
      this.open()
    },
    json(payload) {
      console.log('json', payload)
      this.jsonData = payload
      this.modal.type = 'json'
      this.open()
    },
    pdf(src) {
      console.log('pdf', src)
      this.src = `${src}#page=1&view=FitH`
      this.modal.type = 'preview'
      this.modal.width = '80vw'
      this.open()
    }
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
