/// Overlay mask
.modal-overlay {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1001;
  opacity: 1;
  backface-visibility: hidden;
  will-change: visibility, opacity;
  pointer-events: all;

  // prevent a jumpy page
  // left: calc(100vw - 100%);
}

/// Transitions
.overlay-fade-enter-active,
.overlay-fade-leave-active {
  transition: all 0.2s ease-out;
}

.overlay-fade-enter,
.overlay-fade-leave-active {
  opacity: 0;
}

/// Layout
.modal-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  max-height: 90vh;
  margin: 5vh auto;
  overflow: hidden;
  border-radius: $radius;
  background-color: white;
  box-shadow: 0 0.5rem 1rem 1px rgba(black, 0.15);
  display: flex;
  flex-direction: column;
}

.modal-header,
.modal-footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;

  &:empty {
    display: none;
  }
}

/// Header
.modal-header {
  height: 2.5rem;
  border-bottom: 1px solid $grey;
  background-color: dark(6);
}

.title {
  font-size: 1.125rem;
  font-variant: all-small-caps;
}

/// Button close
.c-close {
  @extend %button;
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.modal-body {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;

  &.html {
    padding: 1rem;
  }

  &.preview {
    min-height: 90vh;
  }
}

.theme-dark {
  .modal-body,
  .modal-footer {
    background: tint($color-dark, 10);
  }
}
