/// Tabs component

.tabs {
  position: relative;
}

.tabbar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  > * + * {
    margin-left: 2rem;
  }
}

.tab-list {
  display: flex;
  align-items: center;

  &.-block {
    width: 100%;
    justify-content: space-between;

    > * {
      flex: 1;
    }
  }
}

.tab {
  @extend %button;
  position: relative;
  min-width: 5rem;
}

/// Themes
.classic {
  .tab {
    padding: 0 0 0.75em;
    border-bottom: 2px solid transparent;
  }

  .tab + .tab {
    margin-left: 2rem;
  }

  .tab[aria-selected='true'] {
    border-bottom-color: $secondary;
  }
}

.divided {
  .tab {
    justify-content: center;
    padding: 0.375em 1em;
    border: $control-border;
    border-radius: $radius-sm;
  }

  .tab + .tab {
    margin-left: 0.5rem;
  }

  .tab[aria-selected='true'] {
    background-color: $primary;
    border-color: $primary;
    color: hsl(0, 0%, 100%);
  }
}

.button-group {
  @extend %button-group;

  .tab {
    @extend %button-group-item;
  }

  .tab[aria-selected='true'] {
    @extend %button-group-item-active;
  }
}

/// State disabled
.tab[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.65;
}
