<script>
export default {
  name: 'Tab',
  props: {
    title: {
      type: String,
      default: undefined
    },
    titleSlot: {
      type: String,
      default: undefined
    },
    disabled: {
      type: String,
      default: undefined
    }
  },
  render() {
    return (
      <div class="tabpanel" role="tabpanel">
        {this.$slots.default}
      </div>
    )
  }
}
</script>
