<script>
export default {
  name: 'Tabs',
  props: {
    present: {
      type: String,
      default: 'button-group',
      validator(value) {
        return ['classic', 'button-group', 'divided'].includes(value)
      }
    },
    block: {
      type: Boolean,
      default: false
    },
    defaultIndex: {
      type: Number,
      default: 0
    },
    onSelect: {
      type: Function,
      default: () => false
    }
  },
  data() {
    return {
      selectedIndex: this.$props.defaultIndex
    }
  },
  methods: {
    switchTab(e, index, isDisabled) {
      if (!isDisabled) {
        this.selectedIndex = index
        this.onSelect && this.onSelect(e, index)
        this.$emit('update:defaultIndex', index)
      }
    }
  },
  render() {
    const { $slots, selectedIndex, present, block, switchTab } = this

    const tabs = $slots.default.filter(component => component.componentOptions)

    const tabList = []
    tabs.forEach((child, index) => {
      const { title, titleSlot, disabled } = child.componentOptions.propsData
      const content = titleSlot ? $slots[titleSlot] : title
      const isDisabled = disabled === true || disabled === ''

      tabList.push(
        <button
          class="tab"
          role="tab"
          onClick={e => switchTab(e, index, isDisabled)}
          aria-selected={selectedIndex === index ? 'true' : 'false'}
          aria-disabled={isDisabled ? 'true' : 'false'}
        >
          {content}
        </button>
      )
    })

    return (
      <div role="tabs" class="tabs">
        <div class="tabbar">
          {$slots.left}
          <nav
            role="tablist"
            class={['tab-list', present, { '-block': block }]}
          >
            {tabList}
          </nav>
          {$slots.right}
        </div>
        {tabs[selectedIndex]}
      </div>
    )
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
