/// Presents as button group
/// @extend %button-group;

%button-group {
  position: relative;
  display: inline-flex;
  align-items: center;

  > :not(:first-child):not(:last-child) {
    border-radius: inherit;
  }

  > :first-child {
    border-radius: $radius-sm 0 0 $radius-sm;
  }

  > :last-child {
    border-radius: 0 $radius-sm $radius-sm 0;
  }

  > * + * {
    border-left: inherit;
  }

  > :hover,
  > :active,
  > :focus {
    z-index: 1;
  }
}

%button-group-item {
  position: relative;
  justify-content: center;
  min-width: 5rem;
  padding: 0.375em 1em;
  border: $control-border;

  & + & {
    border-left: inherit;
  }
}

%separator {
  position: absolute;
  z-index: 100;
  content: '';
  top: -1px;
  bottom: -1px;
  left: -1px;
  width: 1px;
}

%button-group-item-active {
  background-color: $primary;
  border-color: $primary;
  color: hsl(0, 0%, 100%);

  &:not(:first-child)::before {
    @extend %separator;
    background-color: $primary;
  }
}

%button-group-item-active-separator {
  & + &::before {
    @extend %separator;
    background-color: hsl(0, 0%, 100%);
  }
}
