/**
 * Button
 * @extend %button;
 */

%button {
  -webkit-appearance: button;
  border: none;
  padding: 0;
  width: auto;
  // overflow: hidden;
  background-color: transparent;
  cursor: pointer;
  user-select: none;

  /* inherit typo */
  text-align: center;
  // color: inherit;
  color: $dark;
  font: inherit;
  line-height: normal;
}
