/// Code editor
/// @extend %code-editor;

%code-editor {
  display: block;
  background-color: #283a5d;
  padding: 0.75rem 1rem;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: $font-code;
  -webkit-font-smoothing: antialiased;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: dark(12);
  overflow: auto;
  border: none;
}
