/**
 * Hint
 * @extend %hint;
 */

%hint {
  position: absolute;
  z-index: 999999;
  max-width: 30rem;
  padding: 0.375em 0.75em;
  border-radius: $radius-sm;
  background: alpha($color-dark, 0.85);

  display: inline-flex;
  align-items: center;

  color: hsl(0, 0%, 100%);
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: initial;
  white-space: nowrap;
  word-break: initial;

  @at-root .dark-mode & {
    background: hsla(0, 0%, 100%, 0.85);
    color: $dark;
  }

  visibility: hidden;
  opacity: 0;
  transition: 100ms ease-in-out;
  transition-delay: 0ms;
  transform: translate3d(0, -1.5em, 0);

  pointer-events: none;
}

%hint-active {
  visibility: visible;
  opacity: 1;
  transition-delay: 100ms;
}

/** Hint */
[hint],
[hint-bottom] {
  position: relative;

  &::before {
    @extend %hint;
  }

  &:hover::before {
    @extend %hint-active;
  }
}

[hint] {
  &::before {
    content: attr(hint);
    transform: translate3d(0, -1.5em, 0);
  }

  &:hover::before {
    transform: translateY(-2.5em);
  }
}

[hint-bottom] {
  &::before {
    content: attr(hint-bottom);
    transform: translate3d(0, 1.5em, 0);
  }

  &:hover::before {
    transform: translateY(2.5em);
  }
}

[hint='']::before {
  display: none !important;
}
