/** Hints: prefix and suffix */
%prefixsuffix {
  font-weight: normal;
  font-size: 0.6875rem;
  color: dark(50);
  white-space: nowrap;
  // text-transform: uppercase;
  font-variant: common-ligatures;
}

[prefix]::before {
  @extend %prefixsuffix;
  content: attr(prefix);
  padding-right: 0.375rem;
}

[suffix]::after {
  @extend %prefixsuffix;
  content: attr(suffix);
  padding-left: 0.375rem;
}

// [prefix] + [prefix] {
//   margin-left: .5rem;
// }
