<script>
import AppIcon from '../Icon'

export default {
  name: 'Badge',
  functional: true,
  props: {
    label: {
      type: String,
      default: undefined
    },
    color: {
      type: String,
      default: undefined
    },
    fill: {
      type: String,
      default: undefined
    },
    size: {
      type: String,
      default: undefined
    },
    ghost: {
      type: Boolean,
      default: false
    },
    darkMode: {
      type: Boolean,
      default: false
    },
    circle: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: undefined
    },
    hint: {
      type: String,
      default: undefined
    },
    noTruncate: {
      type: Boolean,
      default: false
    }
  },
  render(h, { props, children }) {
    const {
      label,
      size,
      icon,
      color,
      fill,
      ghost,
      darkMode,
      circle,
      hint,
      noTruncate
    } = props

    const classNames = [
      'badge',
      { '-circle': circle },
      { '-ghost': ghost },
      { '-dark-mode': darkMode },
      { 'no-truncate': noTruncate }
    ]

    const attrs = { fill, color, size, hint }
    const content = label || children

    return (
      <div {...{ attrs }} class={classNames}>
        {icon && <AppIcon name={icon} />}
        {content && <span class="label">{content}</span>}
      </div>
    )
  }
}
</script>

<style lang="scss" src="./styles.scss" scoped></style>
