.badge {
  position: relative;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;

  line-height: 1;
  white-space: nowrap;

  padding: 0.25em 0.375em;
  border: $control-border;
  border-radius: $radius-sm;
  user-select: none;

  &:not([fill]):not(.-ghost) {
    background-color: hsl(0, 0%, 100%);
  }

  &:not(.no-truncate) {
    max-width: 12rem;
  }

  /// Colours
  @each $key, $val in $base-colors-keys {
    // цветной фон, белый текст, белая иконка
    &[fill='#{$key}']:not(.-ghost) {
      color: hsl(0, 0%, 100%);
      border-color: alpha($val, 0.35);
    }

    // иконка цветная, текст цветной
    &[color='#{$key}']:not(.-ghost) {
      border-color: alpha($val, 0.35);
    }
  }
}

/// Icon spec
.icon {
  width: 0.875em;
  height: 0.875em;
  transform: scale(1.125);
  flex-shrink: 0;
  margin-left: 0.25em;
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transform: scale(0.95);
}

/// Decorations
.-circle {
  border-radius: 1.25em;
}

.-ghost {
  border-color: currentColor;

  &.-dark-mode:not([color]) {
    color: hsla(0, 0%, 100%, 0.75);
  }

  @at-root .dark-mode &:not([color]) {
    color: hsla(0, 0%, 100%, 0.75);
  }
}

/// Sizes
// default [md] 1em === body font-size

[size='xs'] {
  font-size: 0.75em;
}

[size='sm'] {
  font-size: 0.875em;
}

[size='lg'] {
  font-size: 1.125em;
}

[size='xl'] {
  font-size: 1.25em;
}
